<template>
  <div class="content__wrapper">
    <Header
      :product="item"
      :disable-callback="!showCallback"
    />

    <!-- Main -->
    <main class="main">
      <section class="sect__product gutters light-bg">
        <h2 class="w3c">
          &nbsp;
        </h2>

        <!-- PRODUCT START -->
        <div class="product light-bg">
          <!-- Product header -->
          <!-- Need to add 'is-fixed' class when product header will be sticky -->
          <div
            ref="productHeader"
            class="product__header js-product-header"
            :class="{ 'is-fixed': fixHeader }"
          >
            <div class="container">
              <div class="product__header--content">
                <!-- Back link -->
                <AppButton
                  type="back"
                  @click="onClose"
                />
                <!-- //Back link -->

                <div class="row align-vertical-center align-horisontal-between product__header--row">
                  <div class="product__title--col">
                    <h2 class="product__title">
                      {{ item.title }}
                    </h2>
                    <NLink
                      v-if="item.haveInstallments"
                      :to="{ name: 'installments' }"
                      class="link"
                    >
                      <span>Рассрочка</span>
                    </NLink>
                  </div>

                  <div class="product__header--tools">
                    <div class="product__card--price-block">
                      <!-- Discount -->
                      <div v-if="discount" class="product__card--price-discount">
                        <div class="product__card--price-discount_value">
                          -97%
                        </div>

                        <div class="product__card--price-discount_old-price">
                          72000
                        </div>
                      </div>
                      <!-- //Discount -->

                      <p class="price price-lg secondary-color">
                        {{ price }}
                      </p>
                    </div>

                    <div class="product__card--icons">
                      <!-- Wishlist -->
                      <IconButton
                        icon="heart"
                        :bg="inWishList ? 'primary' : 'basic'"
                        @click="onWishList"
                      />
                      <!-- //Wishlist -->

                      <!-- Cart -->
                      <IconButton
                        icon="cart"
                        :bg="inCart ? 'primary' : 'basic'"
                        @click="onCart"
                      />
                      <!-- //Cart -->
                    </div>
                  </div>
                </div>
              </div>
              <!-- //container -->
            </div>
          </div>

          <div class="container">
            <!-- Mobile info -->
            <div class="product__mobile--info">
              <div class="product__mobile--info-header">
                <h2 class="product__title">
                  {{ item.title }}
                </h2>
                <NLink
                  v-if="item.haveInstallments"
                  :to="{ name: 'installments' }"
                  class="decor-line link-lg"
                >
                  <span>Можно купить в рассрочку!</span>
                </NLink>

                <!-- Tools -->
                <a href="#" class="back-link back-link-sm is-active">
                  <i class="back-link__ic">
                    <svg viewBox="0 0 17 17" xmlns="http://www.w3.org/2000/svg">
                      <path d="M15.3281 8.24316H1.32812" />
                      <path d="M8.32812 15.2432L1.32812 8.24316L8.32812 1.24316" />
                    </svg>
                  </i>
                </a>

                <!-- Wishlist -->
                <IconButton
                  icon="heart"
                  light
                  small
                  :bg="inWishList ? 'primary' : 'basic'"
                  @click="onWishList"
                />
                <!-- //Wishlist -->
                <!-- //Tools -->
              </div>

              <div class="product__mobile--img-wrapper">
                <div class="product__mobile--img">
                  <img :src="item.image" alt="">
                </div>
              </div>
            </div>
            <!-- //Mobile info -->

            <div class="product__body row align-horisontal-between">
              <Carousel :item="item" />

              <div class="product__description--col">
                <div
                  v-if="item.haveInstallments"
                  class="text-right link__block"
                >
                  <NLink
                    :to="{ name: 'installments' }"
                    class="decor-line link-lg"
                  >
                    <span>
                      Можно купить в рассрочку!
                    </span>
                  </NLink>
                </div>

                <div
                  v-if="item.description"
                  class="product__description"
                >
                  <h6>О площадке {{ item.shortTitle || item.title }}</h6>

                  <div v-html="item.description" />
                </div>

                <!-- Guarantee -->
                <div
                  v-if="item.warranty"
                  class="guarantee__block"
                >
                  <div class="guarantee">
                    <div class="guarantee__terms">
                      <span class="guarantee__terms--value">
                        {{ item.warranty.duration }}
                      </span>

                      <p class="guarantee__terms--text">
                        {{ item.warranty.all }}
                      </p>
                    </div>

                    <p class="guarantee__text">
                      {{ item.warranty.includes }}
                    </p>
                  </div>
                </div>
                <!-- //Guarantee -->

                <!-- Product params -->
                <Dimensions
                  v-if="item.dimensions"
                  :item="item"
                />
                <!-- //Product params -->

                <div
                  v-if="item.equipment"
                  class="product__description"
                >
                  <h6>Комплектация</h6>

                  <div v-html="item.equipment" />
                </div>

                <div
                  v-if="item.note"
                  class="product__notices"
                  v-html="item.note"
                />
              </div>
            </div>
          </div>
          <!-- //container -->
        </div>
        <!-- //PRODUCT end -->

        <!-- Similar products -->
        <div v-if="similarItems.length" class="similar-products">
          <div class="container">
            <div class="catalog__block">
              <h3 class="catalog__block--title">
                Похожие площадки
              </h3>
              <div class="row align-horisontal-start product__cards--row row-gutters">
                <ItemCard
                  v-for="similarItem in similarItems"
                  :key="similarItem.id"
                  :item="similarItem"
                />
              </div>
            </div>
          </div>
          <!-- //container -->
        </div>
        <!-- //Similar products -->
      </section>
    </main>
    <!-- //Main -->

    <Footer />
  </div>
</template>

<script lang="ts">
import { Vue, Component, Ref } from 'vue-property-decorator';
import { Store } from 'vuex';

import { initStore } from '~/store';
import { price } from '~/utils';

import Header from '~/components/organisms/Header.vue';
import Footer from '~/components/organisms/Footer.vue';
import ItemCard from '~/components/organisms/ItemCard.vue';

import Carousel from '~/components/molecules/Carousel.vue';

import AppButton from '~/components/atoms/AppButton.vue';
import IconButton from '~/components/atoms/IconButton.vue';
import Dimensions from '~/components/atoms/Dimensions.vue';

@Component({
  components: {
    Header,
    Footer,
    ItemCard,

    AppButton,
    IconButton,
    Dimensions,
    Carousel,
  },
  validate({ params, store }: { params: { name?: string }, store: Store<any> }) {
    const typedStore = initStore(store);

    return params.name ? !!typedStore.getters.itemsByUrl[params.name] : false;
  },
})
export default class Item extends Vue {
  offset: number = 0;
  fixHeader: boolean = false;
  showCallback: boolean = true;

  store = initStore(this.$store);

  @Ref() readonly productHeader!: HTMLElement;

  get name() {
    return this.$route.params.name;
  }

  get item() {
    return this.store.getters.itemsByUrl[this.name] ?? {
      images: [],
      warranty: undefined,
      dimensions: undefined,
    };
  }

  get price() {
    return price(this.item.price);
  }

  get discount() {
    return false;
  }

  get similarItems() {
    if (!this.item?.relatedItems?.length) {
      return [];
    }

    return this.item.relatedItems.map(id => this.store.getters.itemsById[id]);
  }

  get inWishList() {
    return this.store.state.wishList.includes(this.item.id);
  }

  get inCart() {
    return this.store.state.cart.includes(this.item.id);
  }

  onClose() {
    this.$router.go(-1);
  }

  onWishList() {
    if (this.inWishList) {
      this.store.actions.removeFromWishList({ id: this.item.id });
    } else {
      this.store.actions.addToWishList({ id: this.item.id });
    }
  }

  onCart() {
    if (this.inCart) {
      // if there are several those items in cart then remove all of them
      this.store.actions.removeFromCartById({ id: this.item.id });
    } else {
      this.store.actions.addToCart({ id: this.item.id });
    }
  }

  onScroll() {
    this.fixHeader = window.scrollY > this.offset;

    const body = document.getElementsByTagName('body')[0];
    this.showCallback = body.getBoundingClientRect().bottom > window.screen.availHeight;
  }

  mounted() {
    this.offset = this.productHeader?.getBoundingClientRect().top + window.scrollY;

    window.addEventListener('scroll', this.onScroll);
    this.onScroll();
  }

  beforeDestroy() {
    window.removeEventListener('scroll', this.onScroll);
  }
}
</script>

<style lang="stylus">
</style>
