<template>
  <div
    class="filter__wrapper"
    :class="{ 'is-visibled': visible }"
  >
    <div class="container filter__container">
      <!-- Close -->
      <button class="btn__close only-icon" type="button">
        <i class="btn__close--ic">
          <svg viewBox="0 0 10 9" xmlns="http://www.w3.org/2000/svg">
            <path d="M8.83073 0.793945L1.37891 8.24577" />
            <path d="M1.37891 0.793945L8.83073 8.24577" />
          </svg>
        </i>
      </button>
      <!-- //Close -->
      <div class="filter__content">
        <h3 class="filter__title sect__title--sm secondary-color">
          Фильтр
        </h3>
        <div class="row filter__row">
          <div class="filter__params">
            <!-- Type -->
            <div class="filter__type filter__param">
              <p class="filter__label">
                тип
              </p>

              <Dropdown column tag="div">
                <template #trigger>
                  <div class="line__wrapper">
                    <span class="line__content link-md">
                      {{ filter.category ? categoryMap[filter.category].name : 'Все' }}
                    </span>
                    <span class="line" />
                  </div>
                </template>

                <DropdownList>
                  <DropdownItem
                    link
                    :active="!filter.category"
                    @click="onCategoryChange()"
                  >
                    Все
                  </DropdownItem>

                  <template v-for="category in categories">
                    <DropdownItem
                      v-if="!category.children.length"
                      :key="category.id"
                      link
                      :active="selectedCategories.includes(category.id)"
                      @click="onCategoryChange(category.id)"
                    >
                      {{ category.name }}
                    </DropdownItem>

                    <Dropdown
                      v-else
                      :key="category.id"
                      class="dropdown__list--item"
                      column
                    >
                      <template #trigger>
                        <a
                          class="dropdown__list--link"
                          :class="{ 'is-active': selectedCategories.includes(category.id) }"
                          @click.prevent="onCategoryChange(category.id)"
                        >
                          {{ category.name }}
                        </a>
                      </template>

                      <DropdownList>
                        <DropdownItem
                          v-for="child in category.children"
                          :key="child.id"
                          link
                          :active="selectedCategories.includes(child.id)"
                          @click="onCategoryChange(child.id)"
                        >
                          {{ child.name }}
                        </DropdownItem>
                      </DropdownList>
                    </Dropdown>
                  </template>
                </DropdownList>

                <DropdownList v-if="false">
                  <DropdownItem link>
                    Песок
                  </DropdownItem>

                  <DropdownItem link>
                    Покрытия
                  </DropdownItem>
                </DropdownList>
              </Dropdown>
            </div>
            <!-- //type -->

            <!-- Square -->
            <div class="filter__square filter__param">
              <p class="filter__label">
                площадь
              </p>

              <Dropdown column tag="div">
                <template #trigger>
                  <div class="line__wrapper">
                    <span
                      class="line__content link-md"
                      v-html="selectedAreaGroup === null ? 'Любая' : areaGroups[selectedAreaGroup].text"
                    />
                    <span class="line" />
                  </div>
                </template>

                <DropdownList>
                  <DropdownItem
                    link
                    :active="selectedAreaGroup === null"
                    @click="onAreaChange()"
                  >
                    Любая
                  </DropdownItem>

                  <DropdownItem
                    v-for="(group, i) in areaGroups"
                    :key="`${group.from}-${group.to}`"
                    link
                    :active="selectedAreaGroup === i"
                    @click="onAreaChange(group.from, group.to)"
                  >
                    <span v-html="group.text" />
                  </DropdownItem>
                </DropdownList>
              </Dropdown>
            </div>
            <!-- //Square -->

            <!-- Price range -->
            <div class="filter__price filter__param">
              <p class="filter__label">
                цена, руб.
              </p>

              <!-- Vue price range -->
              <Range
                v-if="filter.price"
                :min="filter.price.min"
                :max="filter.price.max"
                :step="1000"
                :from="filter.price.from"
                :to="filter.price.to"
                :beside-percent="10"
                @change="onPriceChange"
              />
              <!-- //Vue price range -->
            </div>
            <!-- //Price range -->
          </div>

          <!-- Total -->
          <div class="filter__total">
            <span class="filter__total--value">
              {{ items.length }}
            </span>
            <p class="filter__total--text">
              {{ variants }}
            </p>
          </div>
          <!-- //Total -->
        </div>
      </div>
    </div>
    <!-- //container -->
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from 'vue-property-decorator';

import { initStore } from '~/store';
import { plural } from '~/utils';

import Dropdown from '~/components/molecules/Dropdown.vue';
import DropdownList from '~/components/atoms/DropdownList.vue';
import DropdownItem from '~/components/atoms/DropdownItem.vue';
import Range from '~/components/atoms/Range.vue';

@Component({
  components: {
    Dropdown,
    DropdownList,
    DropdownItem,
    Range,
  },
})
export default class AppFilter extends Vue {
  @Prop({
    type: Boolean,
    default: false,
  }) visible!: boolean;

  store = initStore(this.$store);

  get items() {
    return this.store.getters.filteredItems;
  }

  get filter() {
    return this.store.state.filter;
  }

  get variants() {
    return plural(this.items.length, 'вариант', 'варианта', 'вариантов');
  }

  get categories() {
    return this.store.getters.categoryTree;
  }

  get categoryMap() {
    return this.store.state.categoryMap;
  }

  get selectedCategories() {
    const category = this.filter.category;

    if (!category) {
      return [];
    }

    return this.store.getters.categoryParents[category];
  }

  get areaGroups(): Array<{ from?: number, to?: number, text: string }> {
    const { min, max } = this.filter.area ?? {};
    const areas = this.store.getters.filterableItems
      .map(item => item.dimensions?.area ?? 0)
      .filter(area => area > 0);
    const groups: Array<{ from?: number, to?: number, text: string }> = [];

    if (!min || !max) {
      return groups;
    }

    const step = 10;

    let from: number | undefined;
    let count = 0;
    while ((count + 1) * step < max) {
      const to = (count + 1) * step;
      if (areas.some(area => area >= (from ?? 0) && area < to)) {
        let text;
        if (!from) {
          text = `До <span class="f-family-montserrat-bold">${to}</span> м<sup>2</sup>`;
        } else {
          text = `<span class="f-family-montserrat-bold">${from}</span> м<sup>2</sup> - <span class="f-family-montserrat-bold">${to}</span> м<sup>2</sup>`;
        }

        groups.push({
          from,
          to,
          text,
        });
        from = to;
      }

      ++count;
    }

    if (!from || from >= max) {
      return [];
    }

    groups.push({
      from,
      to: undefined,
      text: `От <span class="f-family-montserrat-bold">${from}</span> м<sup>2</sup>`,
    });

    return groups;
  }

  get selectedAreaGroup() {
    const { from, to } = this.filter.area ?? {};

    if (!from && !to) {
      return null;
    }

    return this.areaGroups.findIndex(
      group => group.from === from && group.to === to,
    );
  }

  onPriceChange([from, to]: [number, number]) {
    this.store.actions.changePriceFilter({ from, to });
  }

  async onCategoryChange(category?: string) {
    await this.store.actions.changeCategoryFilter({ category });
  }

  async onAreaChange(from?: number, to?: number) {
    await this.store.actions.changeAreaFilter({ from, to });
  }
}
</script>

<style lang="stylus" scoped>
.dropdown__list--link
  cursor pointer
</style>
