<template>
  <div
    class="callback__wrapper"
    :class="{ 'is-header': header }"
  >
    <div
      class="callback"
      :class="{
        'is-active': opened || active,
        'is-filled': filled,
        'is-tooltip-hidden': focused,
        'is-opened': opened || (header && active),
      }"
    >
      <AppButton
        type="callback"
        @click="onWrapperButton"
      />

      <form class="callback__form" @submit.prevent="onSubmit">
        <!-- Tooltip -->
        <div class="callback-tooltip ">
          <p class="callback-tooltip__text">
            Если срочно, позвоните сами, так будет быстрее:
          </p>
          <a href="tel:+73833335556" class="callback-tooltip__phone">
            +7 (383) 333 5556
          </a>

          <p class="callback-tooltip__worktime">
            Ежедневно, с 10 до 20 по Новосибирскому времени
          </p>
        </div>
        <!-- //Tooltip -->

        <div
          class="callback-input__wrapper"
          :class="{ 'is-focused': focused || phone.length }"
        >
          <span class="callback-input__code">+7</span>
          <label class="callback-input__label ">
            <input
              :value="phone"
              type="text"
              class="callback-input"
              name="phone"
              @input="onPhoneInput"
              @focus="focused = true"
              @blur="onInputBlur"
            >
            <span class="callback-input__label--text">
              введите телефон
            </span>
          </label>
        </div>

        <AppButton
          type="accent"
          class="btn-hover-text-color"
          @click="onSubmit"
        >
          Перезвоните мне!
        </AppButton>
      </form>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from 'vue-property-decorator';

import { initStore } from '~/store';

import AppButton from '~/components/atoms/AppButton.vue';

@Component({
  components: {
    AppButton,
  },
})
export default class Callback extends Vue {
  @Prop({
    type: Boolean,
    default: false,
  }) opened!: boolean;

  @Prop({
    type: Boolean,
    default: false,
  }) header!: boolean;

  active: boolean = false;
  focused: boolean = false;

  store = initStore(this.$store);

  get phone(): string {
    return this.store.state.callbackPhone || '';
  }

  get fullPhone(): string {
    return `+7${this.phone.replace(/\D+/g, '')}`;
  }

  get filled(): boolean {
    return (this.opened || this.active) && this.phone.length === 12;
  }

  onWrapperButton() {
    if (this.opened) {
      return;
    }

    this.active = !this.active;
    this.focused = false;
  }

  onPhoneInput(event: any) {
    const newValue = event?.target?.value ?? '';

    const correctValue = newValue
      .replace(/\D+/g, '')
      .replace(/^(\d{0,10}).*$/, '$1')
      .replace(/^(\d{3})(\d{3})(\d{1,4})$/, '$1 $2 $3')
      .replace(/^(\d{3})(\d{1,3})$/, '$1 $2');

    this.store.actions.setCallbackPhone({
      callbackPhone: correctValue,
    });
  }

  onInputBlur() {
    if (!this.phone.length) {
      this.focused = false;
    }
  }

  onSubmit() {
    if (this.filled) {
      console.log('callback to', this.fullPhone);
    }
  }
}
</script>

<style lang="stylus" scoped>
.callback__wrapper
  .callback.is-filled
    .callback-input
      width 178px

.callback__wrapper.is-header
  position relative
  left auto
  padding 0
  width 44px
  bottom auto
  transform translateX(-186px)

  .callback-tooltip
    bottom auto
    top 100%
    margin-bottom 0
    margin-top 10px
    &:before
      bottom auto
      top -2px

  .is-opened
    transform translateX(0)

    &.is-filled
      transform translateX(-300px)

.callback__wrapper:not(.is-header)
  .callback.is-filled
    transform translateX(-220px) translateY(-40px)
</style>
