<template>
  <div
    class="cart"
    :class="{ 'is-opened': showCart }"
  >
    <div class="cart__overflow">
      <div class="cart__block">
        <h4 class="cart__title sect__title--md secondary-color">
          Корзина
        </h4>

        <!-- Close -->
        <AppButton
          type="close"
          @click="onClose"
        />
        <!-- //Close -->

        <div class="cart__content ">
          <div class="cart__products">
            <div class="cart__products--block">
              <h5 class="cart__products--block-title">
                Детские площадки
              </h5>

              <!-- Product -->
              <ItemRow
                v-for="(item, i) in items"
                :key="item.id"
                :item="item"
                with-delete
                @delete="onDelete(i)"
              />
              <!-- //Product -->
            </div>
          </div>

          <div class="cart__links">
            <h6 class="cart__links--mobile-title">
              Посмотрите также:
            </h6>
            <ul>
              <li><a href="#">Комплексы для дома от <span>5000</span>.–</a></li>
              <li><a href="#">Качели «Гнездо» от <span>5999</span>.–</a></li>
              <li><a href="#">Песок для песочниц и покрытия</a></li>
              <li><a href="#">Покрытия для площадок</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator';

import { initStore } from '~/store';

import ItemRow from '~/components/organisms/ItemRow.vue';
import AppButton from '~/components/atoms/AppButton.vue';

@Component({
  components: {
    ItemRow,
    AppButton,
  },
})
export default class Cart extends Vue {
  store = initStore(this.$store);

  get showCart() {
    return this.store.state.showCart;
  }

  get items() {
    return this.store.getters.cartItems;
  }

  onClose() {
    this.store.actions.closeCart();
  }

  async onDelete(index: number) {
    await this.store.actions.removeFromCart({ index });

    if (!this.items.length) {
      this.onClose();
    }
  }
}
</script>

<style lang="stylus">
</style>
