<template>
  <ul class="categories__list row align-horisontal-start">
    <li class="categories__list--item">
      <a
        class="categories__list--link"
        :class="{ 'is-active': !selected.length }"
        @click.prevent="onChange()"
      >
        Все
      </a>
    </li>

    <template
      v-for="category in categories"
    >
      <li
        v-if="!category.children.length"
        :key="category.id"
        class="categories__list--item"
      >
        <a
          class="categories__list--link"
          :class="{ 'is-active': selected.includes(category.id) }"
          @click.prevent="onChange(category.id)"
        >
          {{ category.name }}
        </a>
      </li>

      <Dropdown
        v-else
        :key="category.id"
        class="categories__list--item"
      >
        <template #trigger>
          <a
            class="categories__list--link"
            :class="{ 'is-active': selected.includes(category.id) }"
            @click.prevent="onChange(category.id)"
          >
            {{ category.name }}
          </a>
        </template>

        <DropdownList>
          <DropdownItem
            v-for="child in category.children"
            :key="child.id"
            :active="selected.includes(child.id)"
            link
            @click="onChange(child.id)"
          >
            {{ child.name }}
          </DropdownItem>
        </DropdownList>
      </Dropdown>
    </template>
  </ul>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator';

import { initStore } from '~/store';

import Dropdown from '~/components/molecules/Dropdown.vue';
import DropdownList from '~/components/atoms/DropdownList.vue';
import DropdownItem from '~/components/atoms/DropdownItem.vue';

@Component({
  components: {
    Dropdown,
    DropdownList,
    DropdownItem,
  },
})
export default class Categories extends Vue {
  store = initStore(this.$store);

  get categories() {
    return this.store.getters.categoryTree;
  }

  get selected() {
    const category = this.store.state.filter.category;

    if (!category) {
      return [];
    }

    return this.store.getters.categoryParents[category];
  }

  async onChange(category?: string) {
    await this.store.actions.changeCategoryFilter({ category });
  }
}
</script>

<style lang="stylus" scoped>
.categories__list--link
  cursor pointer
</style>
