<template>
  <footer class="footer light-accent-bg text-center">
    <div class="container">
      <div class="footer__content">
        <h2 class="footer__title">
          Не нашли то, что искали?
        </h2>
        <p class="footer__subtitle">
          Давайте созвонимся, возможно <span>мы сможем помочь!</span>
        </p>

        <!-- Callback -->
        <Callback opened />
        <!-- //Callback -->
      </div>

      <p class="copyright light-color">
        mybabynsk.ru &copy; 2020-{{ new Date().getFullYear() }}
      </p>
    </div>
    <!-- //container -->
  </footer>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator';

import Callback from '~/components/organisms/Callback.vue';

@Component({
  components: {
    Callback,
  },
})
export default class Footer extends Vue {
}
</script>

<style lang="stylus" scoped>
</style>
