<template>
  <div>
    <!-- Header -->
    <header
      v-if="!product && !disableTop"
      class="header"
      :class="{ 'header-homepage': home }"
    >
      <div class="container">
        <div class="row align-vertical-center align-horisontal-between header__row">
          <div class="header__col">
            <div class="row align-vertical-center align-horisontal-start row-nowrap">
              <!-- Menu btn -->
              <AppButton
                type="headerMenu"
                :class="{ 'is-active': showMenu }"
                @click="onMenuOpen"
              />
              <!--// Menu btn -->

              <!-- Logo -->
              <NLink
                :to="{ name: 'index' }"
                class="logo"
              >
                <img src="~assets/img/logo.svg" alt="My Baby">
              </NLink>
              <!-- //Logo -->

              <nav class="header-nav">
                <ul class="header-nav__list">
                  <li class="header-nav__item">
                    <NLink
                      :to="{ name: 'installments' }"
                      class="header-nav__link"
                      active-class="is-active"
                    >
                      Рассрочка
                    </NLink>
                  </li>
                  <li class="header-nav__item">
                    <NLink
                      :to="{ name: 'payment-and-delivery' }"
                      class="header-nav__link"
                      active-class="is-active"
                    >
                      Оплата и доставка
                    </NLink>
                  </li>
                </ul>
              </nav>
            </div>
          </div>

          <div class="header__col">
            <div class="row align-vertical-center align-horisontal-between">
              <!-- User city -->
              <div v-if="!location" class="user-city__wrapper" />

              <div
                v-else-if="!selectCity"
                class="user-city__wrapper"
              >
                <div class="user-city dropdown-parent is-entered">
                  <i class="user-city__ic">
                    <svg viewBox="0 0 22 22" xmlns="http://www.w3.org/2000/svg">
                      <path d="M1.87305 10.0068L20.873 1.00684L11.873 20.0068L9.87305 12.0068L1.87305 10.0068Z" />
                    </svg>
                  </i>
                  <div class="user-city__content">
                    <div
                      class="line__wrapper"
                      @click="onRejectLocation"
                    >
                      <span class="line__content link">
                        {{ location }}
                      </span>
                      <span class="line" />
                    </div>
                  </div>

                  <!-- Dropdown -->
                  <div
                    v-if="detectedLocation"
                    class="dropdown dropdown-color-hover"
                  >
                    <div class="dropdown__content">
                      <ul class="dropdown__list">
                        <li class="dropdown__list--item">
                          <a
                            class="dropdown__list--link"
                            @click.prevent="onConfirmLocation"
                          >
                            Верно
                          </a>
                        </li>
                        <li class="dropdown__list--item">
                          <a
                            class="dropdown__list--link"
                            @click.prevent="onRejectLocation"
                          >
                            Нет, другой город
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <!-- //Dropdown -->
                </div>
              </div>

              <LocationSelector
                v-else
                header
                @change="selectCity = false"
                @blur="selectCity = false"
              />
              <!-- //User city -->

              <div class="header__tools">
                <!-- Wishlist btn -->
                <AppButton
                  type="floatWishList"
                  class="header__btn"
                  :active="wishListBadge > 0"
                  :disabled="wishListBadge === 1"
                  :badge="wishListBadge"
                  @click="onWishListButton"
                />
                <!-- //Wishlist btn -->

                <!-- Cart btn -->
                <AppButton
                  type="floatCart"
                  class="header__btn"
                  :active="cartBadge > 0"
                  :badge="cartBadge"
                  @click="onCartButton"
                />
                <!-- //Cart btn -->

                <!-- Phone btn -->
                <Callback header />
                <!-- //Phone btn -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- //container -->
    </header>
    <!-- //Header -->

    <AppFilter
      v-if="home"
      :visible="filter"
    />

    <!-- Main menu -->
    <Menu
      :disable-float="content || (home && !menu)"
      :product="product"
      :show="showMenu"
      @close="onMenuClose"
    />
    <!-- //Main menu -->

    <!-- Cart -->
    <Cart
      v-if="!content && (!home || menu)"
    />
    <!-- //Cart -->

    <Callback
      v-if="!disableCallback && !content && (!home || menu)"
    />
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from 'vue-property-decorator';

import { TItem } from '~/types/item';

import { initStore } from '~/store';

import AppFilter from '~/components/organisms/AppFilter.vue';
import Menu from '~/components/organisms/Menu.vue';
import Cart from '~/components/organisms/Cart.vue';
import Callback from '~/components/organisms/Callback.vue';
import LocationSelector from '~/components/organisms/LocationSelector.vue';

import AppButton from '~/components/atoms/AppButton.vue';

@Component({
  components: {
    AppFilter,
    Menu,
    Cart,
    Callback,
    LocationSelector,

    AppButton,
  },
})
export default class Header extends Vue {
  @Prop({
    type: Boolean,
    default: false,
  }) home!: boolean;

  @Prop({
    type: Boolean,
    default: false,
  }) filter!: boolean;

  @Prop({
    type: Boolean,
    default: false,
  }) menu!: boolean;

  @Prop({
    type: Object as () => TItem,
    default: () => null,
  }) product!: TItem | null;

  @Prop({
    type: Boolean,
    default: false,
  }) content!: boolean;

  @Prop({
    type: Boolean,
    default: false,
  }) disableTop!: boolean;

  @Prop({
    type: Boolean,
    default: false,
  }) disableCallback!: boolean;

  showMenu: boolean = false;
  selectCity: boolean = false;

  store = initStore(this.$store);

  get detectedLocation() {
    return this.store.state.detectedLocation;
  }

  get location() {
    return this.store.state.user?.city;
  }

  get wishListBadge() {
    return this.store.getters.wishListBadge;
  }

  get cartBadge() {
    return this.store.state.cart.length;
  }

  onMenuOpen() {
    this.showMenu = true;
  }

  onMenuClose() {
    this.showMenu = false;
  }

  async onConfirmLocation() {
    await this.store.actions.confirmLocation();
  }

  async onRejectLocation() {
    await this.onConfirmLocation();
    this.selectCity = true;
  }

  onWishListButton() {
    this.onMenuClose();

    this.$router.push({ name: 'compare' });
  }

  onCartButton() {
    this.onMenuClose();
    this.store.actions.closeCart();

    this.$router.push({ name: 'checkout' });
  }
}
</script>

<style lang="stylus" scoped>
.header__tools
  position relative

.dropdown__list--link
  cursor pointer
</style>
