<template>
  <div
    :class="{
      'product__card--wrapper': !isCompare,
      'compare__product--card': isCompare,
      'compare-block': isCompare,
    }"
  >
    <div class="product__card">
      <NLink
        :to="{ name: 'item-name', params: { name: item.url } }"
        class="product__card--thumbnail"
      >
        <img :src="item.image" alt="">
      </NLink>

      <div class="product__card--info">
        <h4 class="product__card--title">
          <NLink :to="{ name: 'item-name', params: { name: item.url } }">
            {{ item.title }}
          </NLink>
        </h4>

        <div class="product__card--tools">
          <div class="row align-vertical-center align-horisontal-between product__card--tools-row">
            <div class="product__card--price-block">
              <!-- Discount -->
              <div v-if="discount" class="product__card--price-discount">
                <span class="product__card--price-discount_value">-97%</span>
                <span class="product__card--price-discount_old-price">72000</span>
              </div>
              <!-- //Discount -->

              <p class="product__card--price price">
                {{ price }}
              </p>
            </div>

            <div class="product__card--icons">
              <!-- Wishlist -->
              <IconButton
                icon="heart"
                :bg="inWishList ? 'primary' : 'basic'"
                @click="onWishList"
              />
              <!-- //Wishlist -->

              <!-- Cart -->
              <IconButton
                icon="cart"
                :bg="inCart ? 'primary' : 'basic'"
                @click="onCart"
              />
              <!-- //Cart -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from 'vue-property-decorator';

import { TItem } from '~/types/item';

import { initStore } from '~/store';
import { price } from '~/utils';

import IconButton from '~/components/atoms/IconButton.vue';

@Component({
  components: {
    IconButton,
  },
})
export default class ItemCard extends Vue {
  @Prop({ required: true, type: Object as () => TItem }) item!: TItem;
  @Prop({ type: Boolean, default: false }) isCompare!: boolean;

  store = initStore(this.$store);

  get price() {
    return price(this.item.price);
  }

  get discount() {
    return false;
  }

  get inWishList() {
    return this.store.state.wishList.includes(this.item.id);
  }

  get inCart() {
    return this.store.state.cart.includes(this.item.id);
  }

  onWishList() {
    if (this.inWishList) {
      this.store.actions.removeFromWishList({ id: this.item.id });
    } else {
      this.store.actions.addToWishList({ id: this.item.id });
    }
  }

  onCart() {
    if (this.inCart) {
      // if there are several those items in cart then remove all of them
      this.store.actions.removeFromCartById({ id: this.item.id });
    } else {
      this.store.actions.addToCart({ id: this.item.id });
    }
  }
}
</script>

<style lang="stylus">
</style>
