<template>
  <div class="cart__product">
    <div class="row align-horisontal-start cart__product--row row-nowrap">
      <NLink
        :to="{ name: 'item-name', params: { name: item.url } }"
        class="cart__product--thumbnail"
      >
        <img :src="item.image" alt="">
      </NLink>

      <div class="cart__product--content">
        <h6 class="cart__product--title">
          <NLink
            :to="{ name: 'item-name', params: { name: item.url } }"
          >
            {{ item.title }}
          </NLink>
        </h6>

        <div class="cart__product--tools">
          <div class="row align-vertical-center align-horisontal-between">
            <p class="cart__product--price">
              {{ price }}
            </p>

            <!-- Delete -->
            <AppButton
              v-if="withDelete"
              type="delete"
              @click="$emit('delete')"
            />
            <!-- //Delete -->
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from 'vue-property-decorator';

import { TItem } from '~/types/item';
import { price } from '~/utils';

import AppButton from '~/components/atoms/AppButton.vue';

@Component({
  components: {
    AppButton,
  },
})
export default class ItemRow extends Vue {
  @Prop({ required: true, type: Object as () => TItem }) item!: TItem;
  @Prop({ type: Boolean, default: false }) withDelete!: boolean;

  get price() {
    return price(this.item.price);
  }
}
</script>

<style lang="stylus">
</style>
