<template>
  <div
    class="form-group__input--wrapper_block text-center"
    :class="{ 'is-header': header }"
  >
    <div class="form-group__input--wrapper">
      <!-- Delivery city-->
      <div
        class="delivery-city__wrapper delivery-city__wrapper--desktop"
      >
        <!-- Класс is-focused добавляет стили для фокус состояния -->
        <!-- Класс is-filled - когда в инпуте есть значение, т.е. при потери фокуса введенное значение становится фиолетовым цветом  -->
        <div
          class="delivery-city"
          :class="{
            'is-filled': user.city,
            'is-focused': focus,
          }"
        >
          <div
            class="delivery-city__block"
            @click="onWrapperClick"
          >
            <i class="delivery-city__ic">
              <svg viewBox="0 0 22 22" xmlns="http://www.w3.org/2000/svg">
                <path d="M1.87305 10.2969L20.873 1.29688L11.873 20.2969L9.87305 12.2969L1.87305 10.2969Z" />
              </svg>
            </i>

            <div class="delivery-city__input--wrapper">
              <span class="delivery-city__input--label">Город доставки</span>
              <input
                ref="input"
                type="text"
                class="delivery-city__input"
                name="deliveryCity"
                placeholder="Поиск города"
                autocomplete="off"
                :tabindex="tabindex"
                :value="focus ? searchString : user.city"
                @input="onInputSearch"
                @focus="onWrapperClick(), $emit('focus')"
                @blur="onBlur"
              >

              <!-- Clear -->
              <AppButton
                v-if="searchString"
                type="clear"
                @click="onClearSearch"
              />
              <!-- //Clear -->

              <!-- Search -->
              <AppButton
                type="search"
              />
              <!-- //Search -->

              <span class="delivery-city__line" />
            </div>
          </div>

          <!-- Cities dropdown -->
          <Dropdown search tag="div">
            <DropdownGroup
              v-for="group in cities"
              :key="group.group"
              :letter="group.group"
            >
              <DropdownItem
                v-for="city in group.items"
                :key="(group.group ? '' : 'p_') + city"
                link
                @click="onSelectSearch(city)"
              >
                {{ city }}
              </DropdownItem>
            </DropdownGroup>
          </Dropdown>
          <!-- //Cities dropdown -->
        </div>
      </div>
      <!-- //Delivery city-->
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Ref, Prop } from 'vue-property-decorator';

import { initStore } from '~/store';

import Dropdown from '~/components/molecules/Dropdown.vue';
import DropdownGroup from '~/components/atoms/DropdownGroup.vue';
import DropdownList from '~/components/atoms/DropdownList.vue';
import DropdownItem from '~/components/atoms/DropdownItem.vue';
import AppInput from '~/components/atoms/AppInput.vue';
import AppButton from '~/components/atoms/AppButton.vue';
import { TLocation } from '~/types/location';

@Component({
  components: {
    Dropdown,
    DropdownGroup,
    DropdownList,
    DropdownItem,
    AppInput,
    AppButton,
  },
})
export default class LocationSelector extends Vue {
  @Prop({
    type: String,
  }) tabindex?: string;

  @Prop({
    type: Boolean,
    default: false,
  }) header!: boolean;

  @Ref() readonly input!: HTMLInputElement;

  store = initStore(this.$store);

  focus: boolean = false;
  searchString: string = '';
  timeout?: number;

  get user() {
    return this.store.state.user;
  }

  get cities(): Array<{ group?: string, items: string[] }> {
    const search = this.searchString.toLocaleLowerCase();

    if (search) {
      const cities = this.store.state.locations
        .map(location => location.name)
        .filter(name => name.toLocaleLowerCase().includes(search));

      cities.sort((a, b) => a < b ? -1 : 1);

      return [{ items: cities }];
    }

    const prior: string[] = [];
    const locations: string[] = [];

    this.store.state.locations.forEach(({ isPrior, name }) => {
      if (isPrior) {
        prior.push(name);
      }

      locations.push(name);
    });

    locations.sort((a, b) => a < b ? -1 : 1);

    const groups = locations.reduce((map, name) => {
      const letter = name.substr(0, 1);
      if (!map[letter]) {
        map[letter] = [];
      }
      map[letter].push(name);

      return map;
    }, {} as { [letter: string]: string[]; });

    return [
      {
        items: prior,
      },
      ...Object.keys(groups).map(letter => ({
        group: letter,
        items: groups[letter],
      })),
    ];
  }

  get citiesMap() {
    return this.store.state.locations.reduce((map, loc) => {
      map[loc.name] = loc;
      return map;
    }, {} as { [name: string]: TLocation });
  }

  get currentLocation() {
    if (!this.user.city) {
      return undefined;
    }

    return this.citiesMap[this.user.city];
  }

  onWrapperClick() {
    this.focus = true;
  }

  onInputSearch(e: any) {
    this.searchString = e.target!.value;
  }

  onClearSearch() {
    this.searchString = '';
    this.input.focus();
  }

  async onSelectSearch(city: string) {
    if (this.timeout) {
      clearTimeout(this.timeout);
      this.timeout = undefined;
    }

    await this.store.actions.updateUser({
      user: {
        ...this.user,
        city,
      },
    });

    this.focus = false;
    this.searchString = '';

    this.$emit('change');
  }

  async onBlur() {
    if (this.header) {
      this.timeout = setTimeout(
        () => this.$emit('blur'),
        100,
      ) as unknown as number;
    } else {
      this.$emit('blur');
    }
  }

  mounted() {
    if (this.header) {
      this.input.focus();
    }
  }
}
</script>

<style lang="stylus" scoped>
.is-header
  margin 0 50px 0 0
</style>
