<template>
  <!-- Mobile city dropdown-->
  <!-- Нужно добавлять класс is-opened чтобы показать блок -->
  <div class="delivery-city__wrapper--mobile">
    <div class="delivery-city__overflow">
      <!-- Close -->
      <button class="btn__close only-icon" type="button">
        <i class="btn__close--ic">
          <svg viewBox="0 0 10 9" xmlns="http://www.w3.org/2000/svg">
            <path d="M8.83073 0.793945L1.37891 8.24577" />
            <path d="M1.37891 0.793945L8.83073 8.24577" />
          </svg>
        </i>
      </button>
      <!-- //Close -->

      <div class="delivery-city is-active">
        <div class="delivery-city__block">
          <div class="delivery-city__input--wrapper">
            <span class="delivery-city__input--label">Город доставки</span>
            <input
              type="text"
              class="delivery-city__input"
              name="deliveryCity"
              placeholder="Поиск города"
              autocomplete="off"
              value="Комсомольск-на-Амуре"
            >

            <!-- Search -->
            <button class="btn__search" type="button">
              <i class="btn__search--ic">
                <svg viewBox="0 0 16 15" xmlns="http://www.w3.org/2000/svg">
                  <path d="M7.36978 12.6048C10.5814 12.6048 13.1849 10.0013 13.1849 6.7897C13.1849 3.57811 10.5814 0.974609 7.36978 0.974609C4.15819 0.974609 1.55469 3.57811 1.55469 6.7897C1.55469 10.0013 4.15819 12.6048 7.36978 12.6048Z" />
                  <path d="M14.6395 14.0584L11.4775 10.8965" />
                </svg>
              </i>
            </button>
            <!-- //Search -->

            <span class="delivery-city__line" />
          </div>
        </div>

        <!-- Cities dropdown -->
        <div class="delivery-city__dropdown">
          <div class="delivery-city__dropdown--content styled-scroll  dropdown-color-hover dropdown-column">
            <!-- Cities -->
            <div class="delivery-city__dropdown--block">
              <ul class="dropdown__list text-left">
                <li class="dropdown__list--item">
                  <a href="#" class="dropdown__list--link">Москва</a>
                </li>
                <li class="dropdown__list--item">
                  <a href="#" class="dropdown__list--link">Санкт-Петербург</a>
                </li>
                <li class="dropdown__list--item">
                  <a href="#" class="dropdown__list--link">Омск</a>
                </li>
                <li class="dropdown__list--item">
                  <a href="#" class="dropdown__list--link">Новосибирск</a>
                </li>
                <li class="dropdown__list--item">
                  <a href="#" class="dropdown__list--link">Красноярск</a>
                </li>
                <li class="dropdown__list--item">
                  <a href="#" class="dropdown__list--link">Ярославль</a>
                </li>
                <li class="dropdown__list--item">
                  <a href="#" class="dropdown__list--link">Тула</a>
                </li>
                <li class="dropdown__list--item">
                  <a href="#" class="dropdown__list--link">Брянск</a>
                </li>
                <li class="dropdown__list--item">
                  <a href="#" class="dropdown__list--link">Екатеринбург</a>
                </li>
                <li class="dropdown__list--item">
                  <a href="#" class="dropdown__list--link">Челябинск</a>
                </li>
                <li class="dropdown__list--item">
                  <a href="#" class="dropdown__list--link">Нижний Новгород</a>
                </li>
                <li class="dropdown__list--item">
                  <a href="#" class="dropdown__list--link">Краснодар</a>
                </li>
                <li class="dropdown__list--item">
                  <a href="#" class="dropdown__list--link">Ростов-на-Дону</a>
                </li>
                <li class="dropdown__list--item">
                  <a href="#" class="dropdown__list--link">Владивосток</a>
                </li>
                <li class="dropdown__list--item">
                  <a href="#" class="dropdown__list--link">Железногорск</a>
                </li>
                <li class="dropdown__list--item">
                  <a href="#" class="dropdown__list--link">Казань</a>
                </li>
                <li class="dropdown__list--item">
                  <a href="#" class="dropdown__list--link">Сочи</a>
                </li>
              </ul>
            </div>
            <!-- //Cities -->

            <!-- A -->
            <div class="delivery-city__dropdown--block">
              <span class="delivery-city__dropdown--letter">A</span>

              <ul class="dropdown__list text-left">
                <li class="dropdown__list--item">
                  <a href="#" class="dropdown__list--link">Москва</a>
                </li>
                <li class="dropdown__list--item">
                  <a href="#" class="dropdown__list--link">Санкт-Петербург</a>
                </li>
                <li class="dropdown__list--item">
                  <a href="#" class="dropdown__list--link">Омск</a>
                </li>
                <li class="dropdown__list--item">
                  <a href="#" class="dropdown__list--link">Новосибирск</a>
                </li>
                <li class="dropdown__list--item">
                  <a href="#" class="dropdown__list--link">Красноярск</a>
                </li>
                <li class="dropdown__list--item">
                  <a href="#" class="dropdown__list--link">Ярославль</a>
                </li>
                <li class="dropdown__list--item">
                  <a href="#" class="dropdown__list--link">Тула</a>
                </li>
                <li class="dropdown__list--item">
                  <a href="#" class="dropdown__list--link">Брянск</a>
                </li>
                <li class="dropdown__list--item">
                  <a href="#" class="dropdown__list--link">Екатеринбург</a>
                </li>
                <li class="dropdown__list--item">
                  <a href="#" class="dropdown__list--link">Челябинск</a>
                </li>
                <li class="dropdown__list--item">
                  <a href="#" class="dropdown__list--link">Нижний Новгород</a>
                </li>
                <li class="dropdown__list--item">
                  <a href="#" class="dropdown__list--link">Краснодар</a>
                </li>
                <li class="dropdown__list--item">
                  <a href="#" class="dropdown__list--link">Ростов-на-Дону</a>
                </li>
                <li class="dropdown__list--item">
                  <a href="#" class="dropdown__list--link">Владивосток</a>
                </li>
                <li class="dropdown__list--item">
                  <a href="#" class="dropdown__list--link">Железногорск</a>
                </li>
                <li class="dropdown__list--item">
                  <a href="#" class="dropdown__list--link">Казань</a>
                </li>
                <li class="dropdown__list--item">
                  <a href="#" class="dropdown__list--link">Сочи</a>
                </li>
              </ul>
            </div>
            <!-- //A -->
          </div>
        </div>
        <!-- //Cities dropdown -->
      </div>
    </div>
  </div>
  <!-- //Mobile city dropdown--->
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator';

@Component
export default class LocationSelectorMobile extends Vue {
}
</script>

<style lang="stylus">
</style>
