<template>
  <div>
    <div
      v-if="!disable"
      class="menu-float__wrapper"
      :class="{
        'menu-float__wrapper--catalog': !product,
        'menu-float__wrapper--product': product,
        'is-menu-opened': isShown,
        'is-cart-opened': showCart,
        'is-hidden': disableFloat && !isShown,
      }"
    >
      <NLink
        :to="{ name: 'orders' }"
        class="nav__link nav__link--lg"
      >
        Мои заказы
      </NLink>

      <div class="menu-float__content">
        <!-- Menu btn -->
        <div class="menu-float__btn">
          <AppButton
            type="floatMenu"
            :class="{ 'is-active': isShown }"
            @click="isShown ? onMenuClose() : onMenuOpen()"
          />
        </div>
        <!--// Menu btn -->

        <!-- Filter btn -->
        <div class="menu-float__btn menu-float__btn--filter">
          <AppButton
            type="floatFilter"
            badge="83"
          />
        </div>
        <!-- //Filter btn -->

        <!-- Wishlist btn -->
        <div class="menu-float__btn">
          <AppButton
            type="floatWishList"
            :active="wishListBadge > 0"
            :disabled="wishListBadge === 1"
            :badge="wishListBadge"
            @click="onWishListButton"
          />
        </div>
        <!-- //Wishlist btn -->

        <!-- Cart btn -->
        <div class="menu-float__btn">
          <div
            class="btn__cart--product"
            :class="{ 'is-product': product }"
          >
            <AppButton
              type="floatCart"
              :active="cartBadge > 0"
              :badge="cartBadge"
              @click="onCartButton"
            />

            <!-- Product price -->
            <div v-if="cartTotal" class="btn__cart--product-price">
              <span>{{ cartTotal }}</span>
            </div>
            <!-- //Product price -->

            <!-- Product buy -->
            <AppButton
              :type="isBuyProduct ? 'floatBuyProduct' : 'floatBuy'"
              :active="cartBadge > 0"
              @click="onBuyProduct"
            />
            <!-- //Product buy -->
          </div>
        </div>
        <!-- //Cart btn -->
      </div>
    </div>

    <!-- Main menu -->
    <div
      class="menu-main__wrapper"
      :class="{ 'is-opened': isShown }"
    >
      <div v-click-outside="onClickOutside" class="menu-main__content--wrapper">
        <!-- Close -->
        <AppButton
          type="closeMenu"
          @click="onMenuClose"
        />
        <!-- //Close -->

        <!-- Menu content -->
        <div class="menu-main__content">
          <h2 class="menu-main__title secondary-color sect__title--sm">
            Меню
          </h2>

          <!-- Navigations -->
          <div class="menu-main__navs">
            <nav class="nav">
              <ul class="nav__list">
                <li class="nav__item nav__item--lg">
                  <NLink
                    :to="{ name: 'installments' }"
                    class="nav__link nav__link--lg"
                  >
                    Рассрочка
                  </NLink>
                </li>
                <li class="nav__item nav__item--lg">
                  <NLink
                    :to="{ name: 'payment-and-delivery' }"
                    class="nav__link nav__link--lg"
                  >
                    Оплата и доставка
                  </NLink>
                </li>
                <li v-if="false" class="nav__item">
                  <a href="#" class="nav__link">О компании</a>
                </li>
                <li v-if="false" class="nav__item">
                  <a href="#" class="nav__link">Сотрудники</a>
                </li>
              </ul>
            </nav>

            <div class="menu-main__catalog">
              <h6 class="menu-main__catalog--title">
                каталог
              </h6>

              <nav class="nav nav-row">
                <ul class="nav__list">
                  <template
                    v-for="category in categories"
                  >
                    <li
                      v-if="!category.children.length"
                      :key="category.id"
                      class="nav__item"
                    >
                      <a
                        class="nav__link"
                        @click.prevent="onCategory(category.id)"
                      >
                        {{ category.name }}
                      </a>
                    </li>

                    <Dropdown
                      v-else
                      :key="category.id"
                      column
                      class="nav__item"
                    >
                      <template #trigger>
                        <a
                          class="nav__link"
                          @click.prevent="onCategory(category.id)"
                        >
                          {{ category.name }}
                        </a>
                      </template>

                      <DropdownList>
                        <DropdownItem
                          v-for="child in category.children"
                          :key="child.id"
                          link
                          @click="onCategory(child.id)"
                        >
                          {{ child.name }}
                        </DropdownItem>
                      </DropdownList>
                    </Dropdown>
                  </template>
                </ul>
              </nav>
            </div>
          </div>
          <!-- //Navigations -->

          <!-- Callback -->
          <div class="menu-main__phones text-center">
            <div class="phone-links">
              <a href="tel:+73833752051" class="phone-link">+7 (383) 375-20-51,</a>
              <a href="tel:+73833752051" class="phone-link">+7 (383) 375-20-51</a>
            </div>

            <a href="#" class="btn__callback">
              <i class="btn__callback--ic">
                <svg viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M21.5864 16.2971V19.2971C21.5875 19.5756 21.5304 19.8512 21.4189 20.1064C21.3073 20.3616 21.1437 20.5906 20.9384 20.7789C20.7332 20.9672 20.4909 21.1105 20.2271 21.1998C19.9633 21.289 19.6837 21.3221 19.4064 21.2971C16.3292 20.9627 13.3734 19.9112 10.7764 18.2271C8.36019 16.6917 6.3117 14.6432 4.77636 12.2271C3.08634 9.61825 2.0346 6.64804 1.70636 3.55705C1.68137 3.28052 1.71423 3.00181 1.80286 2.73867C1.89148 2.47554 2.03393 2.23374 2.22112 2.02867C2.40832 1.8236 2.63616 1.65976 2.89015 1.54757C3.14414 1.43538 3.4187 1.37731 3.69636 1.37705H6.69636C7.18167 1.37227 7.65215 1.54413 8.02012 1.86058C8.38809 2.17704 8.62844 2.6165 8.69636 3.09705C8.82298 4.05712 9.05781 4.99978 9.39636 5.90705C9.5309 6.26497 9.56002 6.65396 9.48027 7.02793C9.40051 7.4019 9.21522 7.74516 8.94636 8.01705L7.67636 9.28705C9.09991 11.7906 11.1728 13.8635 13.6764 15.2871L14.9464 14.0171C15.2182 13.7482 15.5615 13.5629 15.9355 13.4831C16.3094 13.4034 16.6984 13.4325 17.0564 13.567C17.9636 13.9056 18.9063 14.1404 19.8664 14.2671C20.3521 14.3356 20.7958 14.5803 21.1129 14.9545C21.43 15.3288 21.5985 15.8066 21.5864 16.2971Z" />
                </svg>
              </i>

              <span class="btn__callback--text">Обратный звонок</span>
            </a>
          </div>
          <!-- //Callback -->

          <!-- Address -->
          <div class="menu-main__address text-center">
            <p>г. Новосибирск, Зыряновская д. 53, офис 215</p>

            <a href="#" class="link-sm">Политика конфиденциальности</a>
          </div>
          <!-- //Address -->
        </div>
        <!-- //Menu content -->
      </div>
    </div>
    <!-- //Main menu -->
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from 'vue-property-decorator';

import { TItem } from '~/types/item';

import { initStore } from '~/store';
import { price } from '~/utils';

import Dropdown from '~/components/molecules/Dropdown.vue';
import DropdownList from '~/components/atoms/DropdownList.vue';
import DropdownItem from '~/components/atoms/DropdownItem.vue';
import AppButton from '~/components/atoms/AppButton.vue';

@Component({
  components: {
    Dropdown,
    DropdownList,
    DropdownItem,
    AppButton,
  },
})
export default class Menu extends Vue {
  @Prop({
    type: Object as () => TItem,
    default: () => null,
  }) product!: TItem | null;

  @Prop({
    type: Boolean,
    default: false,
  }) disable!: boolean;

  @Prop({
    type: Boolean,
    default: false,
  }) disableFloat!: boolean;

  @Prop({
    type: Boolean,
    default: false,
  }) show!: boolean;

  showMenu: boolean = false;

  store = initStore(this.$store);

  get isShown() {
    return this.show || this.showMenu;
  }

  get showCart() {
    return this.store.state.showCart;
  }

  get wishListBadge() {
    return this.store.getters.wishListBadge;
  }

  get cartBadge() {
    return this.store.state.cart.length;
  }

  get cartTotal() {
    if (this.product && this.isBuyProduct) {
      return price(this.product.price);
    }

    if (!this.cartBadge) {
      return null;
    }

    return price(this.store.getters.cartTotal);
  }

  get isBuyProduct() {
    if (!this.product) {
      return false;
    }

    return !this.store.state.cart.includes(this.product.id);
  }

  get categories() {
    return this.store.getters.categoryTree;
  }

  onMenuOpen() {
    this.store.actions.closeCart();

    this.showMenu = true;
  }

  onMenuClose() {
    this.store.actions.closeCart();

    this.closeMenu();
  }

  onClickOutside(event: any) {
    if (!this.isShown) {
      return;
    }

    const floatMenu = document.getElementsByClassName('menu-float__wrapper')[0];
    const target = event.target as Node;

    if (!floatMenu.contains(target)) {
      this.onMenuClose();
    }
  }

  onWishListButton() {
    this.closeMenu();

    this.$router.push({ name: 'compare' });
  }

  onCartButton() {
    if (this.showCart) {
      this.store.actions.closeCart();
    } else {
      this.store.actions.openCart();
    }

    this.closeMenu();
  }

  async onBuyProduct() {
    if (!this.isBuyProduct) {
      this.store.actions.closeCart();
      this.closeMenu();
      return;
    }

    // add product to cart
    await this.store.actions.addToCart({ id: this.product!.id });
    // TODO: show popover and set 6sec timer to hide it
  }

  async onCategory(category: string) {
    await this.store.actions.changeCategoryFilter({ category });
    this.closeMenu();

    if (this.$route.name !== 'index') {
      await this.$router.push({ name: 'index' });
    }
  }

  closeMenu() {
    this.showMenu = false;
    this.$emit('close');
  }
}
</script>

<style lang="stylus" scoped>
.nav__link
  cursor pointer
</style>
