<template>
  <div class="order">
    <div class="order__row row align-horisontal-start">
      <div class="order__information">
        <div class="order__information--content">
          <h3 class="order__title">
            Заказ от {{ dateStr }}
          </h3>
          <p class="order__status order__status--mobile">
            Статус:
            <span class="secondary-color">
              {{ status }}
            </span>
            ({{ dateStr }}, {{ timeStr }})
          </p>
          <p>
            Доставка:
            <template v-if="order.user.pickup">
              самовывоз (бесплатно)
            </template>
            <template v-else>
              TODO.-
            </template>
          </p>
          <p
            class="order__payment--status"
            :class="{ 'is-paid': order.status === 'paid' }"
          >
            {{ order.status === 'paid' ? 'Оплачен' : 'Не оплачен' }}
          </p>
          <div class="order-customer__information">
            <p>
              {{ address }}
            </p>
            <p>
              {{ order.user.name }},
              <br>
              {{ order.user.phone }},
              {{ order.user.email }}
            </p>
          </div>
          <a href="#" class="decor-line decor-line-lg link-lg">
            <span>Изменить заказ</span>
          </a>
        </div>

        <div class="order-price__block order-price__block--desktop">
          <div
            class="order-price__wrapper"
            :class="{ 'order-price__wrapper--static': order.status === 'paid' }"
          >
            <p class="order-price">
              {{ total }}
            </p>

            <AppButton
              v-if="order.status !== 'paid'"
              type="accent"
              class="btn-hover-text-color"
              @click="emit('pay')"
            >
              Оплатить заказ
            </AppButton>
          </div>

          <div v-if="order.status !== 'paid'" class="order-payment">
            <a href="#" class="order-payment__link" target="_blank">
              <span>Купить в кредит до 24 месяцев</span>
            </a>
            <a href="#" class="order-payment__link" target="_blank">
              <span>Получить рассрочку до 6 месяцев</span>
            </a>
            <p class="order-payment__notice">
              Для получения кредита или рассрочки вы будете перенаправлены на сайт банка АО «Тинькофф»
            </p>
          </div>
        </div>
      </div>

      <div class="order__products">
        <p class="order__status order__status--desktop">
          Статус:
          <span class="secondary-color">
            {{ status }}
          </span>
          ({{ dateStr }}, {{ timeStr }})
        </p>

        <div class="cart__products">
          <div class="cart__products--block">
            <h5 class="cart__products--block-title">
              Детские площадки
            </h5>

            <!-- Product -->
            <ItemRow
              v-for="item in order.items"
              :key="item.id"
              :item="item"
            />
            <!-- //Product -->
          </div>
        </div>

        <div class="order-price__block order-price__block--mobile">
          <div
            class="order-price__wrapper"
            :class="{ 'order-price__wrapper--static': order.status === 'paid' }"
          >
            <p class="order-price">
              {{ total }}
            </p>

            <AppButton
              v-if="order.status !== 'paid'"
              type="accent"
              class="btn-hover-text-color"
              @click="emit('pay')"
            >
              Оплатить заказ
            </AppButton>
          </div>

          <div v-if="order.status !== 'paid'" class="order-payment">
            <a href="#" class="order-payment__link" target="_blank">
              <span>Купить в кредит до 24 месяцев</span>
            </a>
            <a href="#" class="order-payment__link" target="_blank">
              <span>Получить рассрочку до 6 месяцев</span>
            </a>

            <p class="order-payment__notice">
              Для получения кредита или рассрочки вы будете перенаправлены на сайт банка АО «Тинькофф»
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from 'vue-property-decorator';

import { EOrderStatus, TOrder } from '~/types/order';

import { initStore } from '~/store';
import { price } from '~/utils';

import ItemRow from '~/components/organisms/ItemRow.vue';
import AppButton from '~/components/atoms/AppButton.vue';

@Component({
  components: {
    ItemRow,
    AppButton,
  },
})
export default class OrderCard extends Vue {
  store = initStore(this.$store);

  @Prop({
    type: Object as () => TOrder,
    required: true,
  })
  order!: TOrder;

  get dateStr() {
    const date = this.order.created;

    return ('0' + date.getDate()).slice(-2) + '.' +
      ('0' + (date.getMonth() + 1)).slice(-2) + '.' +
      date.getFullYear();
  }

  get timeStr() {
    const date = this.order.created;

    return ('0' + date.getHours()).slice(-2) + ':' +
      ('0' + date.getMinutes()).slice(-2);
  }

  get status() {
    switch (this.order.status) {
      case EOrderStatus.new:
        return 'Новый';
      case EOrderStatus.paid:
        return 'Оплачен';
    }
  }

  get total() {
    const total = this.order.items.reduce((sum, item) => {
      sum += item.price ?? 0;
      return sum;
    }, 0);

    return price(total);
  }

  get address() {
    if (this.order.user.pickup) {
      const city = this.store.getters.citiesMap[this.order?.user?.city ?? ''] ?? {};
      return `${city.name}, ${city.office}`;
    }

    return `${this.order.user.city}, ${this.order.user.address}`;
  }
}
</script>

<style lang="stylus" scoped>
</style>
