<template>
  <div class="another-product__card--wrapper">
    <div class="another-product__card">
      <NLink
        :to="{ name: 'item-name', params: { name: item.url } }"
        class="another-product__card--thumbnail"
      >
        <img :src="item.image" alt="">
      </NLink>

      <h4 class="another-product__card--title">
        <NLink :to="{ name: 'item-name', params: { name: item.url } }">
          {{ item.shortTitle }}
        </NLink>
      </h4>
      <p class="another-product__card--package">
        {{ item.equipment }}
      </p>
      <p class="price secondary-color">
        {{ price }}
      </p>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from 'vue-property-decorator';

import { TItem } from '~/types/item';

import { price } from '~/utils';

@Component
export default class SandCard extends Vue {
  @Prop({
    type: Object as () => TItem,
    required: true,
  }) item!: TItem;

  get price() {
    return price(this.item.price);
  }
}
</script>

<style lang="stylus">
</style>
