<template>
  <div
    class="form-group__input--wrapper_block text-center"
    :class="{
      'is-hidden': hidden,
    }"
  >
    <AppInput
      :type="type"
      :required="required"
      :auto-resize="autoResize"
      :class="inputClass"
      :placeholder="placeholder"
      v-bind="$attrs"
      :value="value"
      @input="$emit('input', $event)"
      @focus="$emit('focus')"
      @blur="$emit('blur')"
    />
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from 'vue-property-decorator';

import AppInput from '~/components/atoms/AppInput.vue';

@Component({
  inheritAttrs: false,
  components: {
    AppInput,
  },
})
export default class AppFormInput extends Vue {
  @Prop({
    type: String,
    default: 'text',
  }) type!: string;

  @Prop({
    type: String,
  }) value?: string;

  @Prop({
    type: String,
  }) inputClass?: string;

  @Prop({
    type: String,
  }) placeholder?: string;

  @Prop({
    type: Boolean,
    default: false,
  }) required!: boolean;

  @Prop({
    type: Boolean,
    default: false,
  }) hidden!: boolean;

  @Prop({
    type: Boolean,
    default: false,
  }) autoResize!: boolean;
}
</script>

<style lang="stylus" scoped>
</style>
