<template>
  <div class="product__slider--col">
    <!-- Slider -->
    <div class="product__slider">
      <!-- Main slider -->
      <div class="product__slider--main-wrapper">
        <TransitionGroup
          name="slide"
          class="product__slider--main slider"
          tag="div"
        >
          <!-- Slide -->
          <div
            v-for="slide in slides"
            :key="slide.id"
            class="product__slider--main-slide slide-item"
            :custom="slide.id"
          >
            <div class="product__slider--main-slide_content">
              <img :src="slide.image" alt="">
            </div>
          </div>
          <!-- //Slide -->
        </TransitionGroup>

        <!-- Slider controls -->
        <AppButton
          type="arrowNext"
          @click="onNext"
        />

        <AppButton
          type="arrowPrev"
          @click="onPrev"
        />
        <!-- //Slider controls -->
      </div>

      <!-- Thumbnails -->
      <div class="product__slider--thumbnails-wrapper">
        <div class="product__slider--thumbnails">
          <!-- Thumbnail -->
          <div
            v-for="(image, i) in item.images"
            :key="`${i}_${image.thumb}`"
            class="product__slider--thumbnails-slide"
            :class="{ 'is-active': i === currentSlide}"
            @click="onChange(i)"
          >
            <div class="product__slider--thumbnails-slide_content">
              <img :src="image.thumb" alt="">
            </div>
          </div>
          <!-- //Thumbnail -->
        </div>
      </div>
      <!-- //Thumbnails -->
    </div>
    <!-- //Slider -->
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from 'vue-property-decorator';

import { TItem } from '~/types/item';

import AppButton from '~/components/atoms/AppButton.vue';

@Component({
  components: {
    AppButton,
  },
})
export default class Carousel extends Vue {
  @Prop({
    type: Object as () => TItem,
    required: true,
  }) item!: TItem;

  currentSlide: number = 0;

  get slidesRaw() {
    const images = this.item.images.map(image => image.image);
    const { length } = images;
    let slides: Array<{ id: string; image: string; }> = [];

    if (length === 0) {
      return [];
    }

    if (length === 1) {
      slides = [
        { id: `0_${images[0]}`, image: images[0] },
      ];
    } else {
      // add tail to beginning to compensate length (first element must be in center)
      slides = [
        ...images.slice(-(length - 1))
          .map((image, i) => ({ id: `-${i + 1}_${image}`, image })),
        ...images
          .map((image, i) => ({ id: `${i}_${image}`, image })),
      ];
    }

    // add first slide to the end and compensation of length to the beginning
    slides = [
      { id: `-0_${slides[0].image}`, image: slides[0].image },
      ...slides,
      { id: `+0_${slides[0].image}`, image: slides[0].image },
    ];

    return slides;
  }

  get slides(): Array<{ id: string; image: string; }> {
    const head = this.slidesRaw.slice(this.currentSlide);
    const tail = this.slidesRaw.slice(0, this.currentSlide);

    return [...head, ...tail];
  }

  onNext() {
    this.currentSlide += 1;
    if (this.currentSlide > this.item.images.length - 1) {
      this.currentSlide = 0;
    }
  }

  onPrev() {
    this.currentSlide -= 1;
    if (this.currentSlide < 0) {
      this.currentSlide = this.item.images.length - 1;
    }
  }

  onChange(index: number) {
    this.currentSlide = index;
  }
}
</script>

<style lang="stylus" scoped>
.slider
  display flex
  align-items center
  justify-content center

.slide-item
  flex 0 0 auto
  transition all .5s ease-in-out

  &:first-child
  &:last-child
    visibility hidden
    opacity 0
</style>
