<template>
  <component
    :is="tag"
    :class="search ? 'delivery-city__dropdown' : 'dropdown-parent'"
  >
    <template v-if="search">
      <div
        class="delivery-city__dropdown--content styled-scroll dropdown-color-hover dropdown-column"
      >
        <slot />
      </div>
    </template>

    <template v-else>
      <slot name="trigger" />

      <div
        class="dropdown"
        :class="[
          column ? 'dropdown-color-hover dropdown-column' : undefined,
        ]"
      >
        <div class="dropdown__content">
          <slot />
        </div>
      </div>
    </template>
  </component>
</template>

<script lang="ts">
import { Vue, Component, Prop } from 'vue-property-decorator';

@Component
export default class Dropdown extends Vue {
  @Prop({
    type: String,
    default: 'li',
  }) tag!: string;

  @Prop({
    type: Boolean,
    default: false,
  }) column!: boolean;

  @Prop({
    type: Boolean,
    default: false,
  }) search!: boolean;
}
</script>

<style lang="stylus">
</style>
