<template>
  <div
    class="form-group"
    :class="{
      'is-scaled': scaled,
      'is-focused': focused,
      'is-filled': !focused && filled,
      'is-hidden': hidden,
      'form-group__delivery': delivery,
    }"
    @click="$emit('click')"
  >
    <slot name="label">
      <p class="form-group__label">
        {{ label }}
      </p>
    </slot>

    <slot />
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from 'vue-property-decorator';

@Component
export default class FormGroup extends Vue {
  @Prop({
    type: String,
    required: true,
  }) label!: string;

  @Prop({
    type: Boolean,
    default: false,
  }) scaled!: boolean;

  @Prop({
    type: Boolean,
    default: false,
  }) focused!: boolean;

  @Prop({
    type: Boolean,
    default: false,
  }) filled!: boolean;

  @Prop({
    type: Boolean,
    default: false,
  }) hidden!: boolean;

  @Prop({
    type: Boolean,
    default: false,
  }) delivery!: boolean;
}
</script>

<style lang="stylus" scoped>
.form-group
  &.is-focused.is-scaled
  &.is-focused .is-scaled
    transform scale(.75)
  &.is-scaled
  .is-scaled
    transform scale(.75)
</style>
