<template>
  <button
    :class="[
      btnClass,
      {
        'is-disabled': disabled,
        'is-active': active,
      },
    ]"
    :disabled="disabled"
    type="button"
    @click.capture="$emit('click')"
  >
    <template v-if="type === 'accent'">
      <span class="btn__content">
        <span class="btn__text">
          <slot />
        </span>
        <span class="btn__line" />
      </span>
    </template>

    <template v-else-if="type === 'arrowNext' || type === 'arrowPrev'">
      <i class="btn__arrow--ic">
        <template v-if="type === 'arrowNext'">
          <svg viewBox="0 0 9 14" xmlns="http://www.w3.org/2000/svg">
            <path d="M1.13867 0.999999L7.13867 7L1.13867 13" />
          </svg>
        </template>
        <template v-else>
          <svg viewBox="0 0 9 14" xmlns="http://www.w3.org/2000/svg">
            <path d="M7.41406 13L1.41406 7L7.41406 1" />
          </svg>
        </template>
      </i>
    </template>

    <template v-else-if="type === 'choice'">
      <span>
        <span>
          <slot />
        </span>
      </span>
    </template>

    <template v-else-if="type === 'floatMenu' || type === 'headerMenu'">
      <span class="btn__menu--content">
        меню
      </span>
    </template>

    <template v-else-if="type === 'floatFilter'">
      <i class="btn__filter--ic">
        <svg viewBox="0 0 16 14" xmlns="http://www.w3.org/2000/svg">
          <path d="M14.5323 0.713867H1.34766L6.62153 6.95022V11.2616L9.25846 12.5801V6.95022L14.5323 0.713867Z" />
        </svg>
      </i>

      <span class="btn__filter--text">
        фильтр
      </span>

      <!-- Total -->
      <span class="btn__filter--total">
        <i class="btn__filter--ic">
          <svg viewBox="0 0 15 14" xmlns="http://www.w3.org/2000/svg">
            <path d="M14.1202 1.38379H0.935547L6.20942 7.62014V11.9315L8.84635 13.25V7.62014L14.1202 1.38379Z" />
          </svg>
        </i>

        <span v-if="badge" class="btn__filter--total-value">
          {{ badge }}
        </span>
      </span>
    </template>

    <template v-else-if="type === 'floatWishList'">
      <i class="btn__wishlist--ic">
        <svg viewBox="0 0 19 17" xmlns="http://www.w3.org/2000/svg">
          <path d="M11.5904 0.940221C12.2015 0.686983 12.8566 0.556641 13.5182 0.556641C14.1797 0.556641 14.8348 0.686983 15.446 0.940221C16.057 1.19341 16.6122 1.5645 17.0798 2.03228C17.5476 2.4999 17.919 3.05536 18.1721 3.66641C18.4254 4.27758 18.5557 4.93265 18.5557 5.59421C18.5557 6.25577 18.4254 6.91084 18.1721 7.52201C17.9189 8.13312 17.5478 8.68836 17.08 9.15602C17.0799 9.15606 17.08 9.15598 17.08 9.15602L10.2308 16.0052C9.92822 16.3078 9.43765 16.3078 9.13507 16.0052L2.2859 9.15602C1.34125 8.21137 0.810547 6.93015 0.810547 5.59421C0.810547 4.25828 1.34125 2.97705 2.2859 2.0324C3.23055 1.08775 4.51177 0.557055 5.8477 0.557055C7.18364 0.557055 8.46486 1.08775 9.40951 2.0324L9.68293 2.30582L9.95622 2.03253C9.95627 2.03249 9.95618 2.03258 9.95622 2.03253C10.4239 1.56469 10.9792 1.19344 11.5904 0.940221ZM13.5182 2.10623C13.0602 2.10623 12.6066 2.19646 12.1835 2.37178C11.7604 2.5471 11.376 2.80407 11.0522 3.128L10.2308 3.94941C9.92822 4.25198 9.43765 4.25198 9.13507 3.94941L8.31379 3.12813C7.65974 2.47408 6.77267 2.10664 5.8477 2.10664C4.92274 2.10664 4.03567 2.47408 3.38162 3.12813C2.72757 3.78217 2.36013 4.66925 2.36013 5.59421C2.36013 6.51917 2.72757 7.40625 3.38162 8.0603L9.68293 14.3616L15.9842 8.0603C16.3082 7.73652 16.5653 7.35196 16.7406 6.92884C16.9159 6.50572 17.0061 6.05221 17.0061 5.59421C17.0061 5.13621 16.9159 4.6827 16.7406 4.25958C16.5653 3.83646 16.3083 3.45204 15.9844 3.12826C15.6606 2.80432 15.2759 2.5471 14.8528 2.37178C14.4297 2.19646 13.9762 2.10623 13.5182 2.10623Z" />
        </svg>
      </i>

      <!-- Total -->
      <span class="btn__wishlist--total">
        <i class="btn__wishlist--total-ic">
          <svg viewBox="0 0 22 19" xmlns="http://www.w3.org/2000/svg">
            <path d="M13.3956 0.979907C14.1073 0.684995 14.8702 0.533203 15.6406 0.533203C16.411 0.533203 17.1739 0.684995 17.8856 0.979907C18.5973 1.27476 19.2438 1.70691 19.7884 2.25167C20.3332 2.79625 20.7656 3.44311 21.0605 4.15473C21.3554 4.86647 21.5072 5.62934 21.5072 6.39977C21.5072 7.17019 21.3554 7.93307 21.0605 8.64481C20.7656 9.35649 20.3334 10.0031 19.7885 10.5477L11.8123 18.524C11.4599 18.8764 10.8886 18.8764 10.5362 18.524L2.55993 10.5477C1.45983 9.44761 0.841797 7.95555 0.841797 6.39977C0.841797 4.84399 1.45983 3.35193 2.55993 2.25182C3.66004 1.15172 5.1521 0.533686 6.70788 0.533686C8.26366 0.533686 9.75572 1.15172 10.8558 2.25182L11.1742 2.57024L11.4925 2.25197C12.0371 1.70714 12.6839 1.27479 13.3956 0.979907Z" />
          </svg>
        </i>

        <span v-if="badge" class="btn__wishlist--total-value">
          {{ badge }}
        </span>
      </span>
      <!-- //Total -->
    </template>

    <template v-else-if="type === 'floatCart'">
      <i class="btn__cart--ic">
        <svg viewBox="0 0 19 18" xmlns="http://www.w3.org/2000/svg">
          <path d="M0.821037 0.19043C0.406423 0.19043 0.0703125 0.52654 0.0703125 0.941154C0.0703125 1.35577 0.406423 1.69188 0.821037 1.69188H3.20858L3.83291 4.81119C3.83623 4.83256 3.84046 4.85363 3.84555 4.87435L5.09954 11.1396L5.0996 11.1399C5.20262 11.6582 5.48464 12.1238 5.89629 12.4552C6.30597 12.785 6.81807 12.961 7.34376 12.9527H14.6279C15.1536 12.961 15.6657 12.785 16.0754 12.4552C16.4871 12.1238 16.7692 11.6581 16.8722 11.1396L16.8722 11.1396L16.8733 11.134L18.0744 4.83541C18.1163 4.61563 18.058 4.38862 17.9154 4.21623C17.7728 4.04384 17.5607 3.94405 17.337 3.94405H5.19058L4.56006 0.793819C4.48984 0.442962 4.18175 0.19043 3.82393 0.19043H0.821037ZM6.572 10.846L5.49109 5.4455H16.4296L15.399 10.8494C15.3643 11.0213 15.2705 11.1756 15.1339 11.2856C14.9966 11.3961 14.8249 11.4548 14.6488 11.4514L14.6344 11.4513H7.33733L7.32294 11.4514C7.14678 11.4548 6.97505 11.3961 6.8378 11.2856C6.70056 11.1752 6.60654 11.0199 6.57222 10.8471L6.572 10.846ZM6.82707 15.9552L6.82691 15.9553L6.82707 15.9555L6.82723 15.9553L6.82707 15.9552ZM5.32546 15.9553C5.32546 15.126 5.99775 14.4537 6.82707 14.4537C7.65639 14.4537 8.32868 15.126 8.32868 15.9553C8.32868 16.7847 7.65639 17.457 6.82707 17.457C5.99775 17.457 5.32546 16.7847 5.32546 15.9553ZM15.0855 15.9552L15.0853 15.9553L15.0855 15.9555L15.0856 15.9553L15.0855 15.9552ZM13.5838 15.9553C13.5838 15.126 14.2561 14.4537 15.0855 14.4537C15.9148 14.4537 16.5871 15.126 16.5871 15.9553C16.5871 16.7847 15.9148 17.457 15.0855 17.457C14.2561 17.457 13.5838 16.7847 13.5838 15.9553Z" />
        </svg>
      </i>

      <!-- Total -->
      <span class="btn__cart--total">
        <i class="btn__cart--total-ic">
          <svg viewBox="0 0 24 23" xmlns="http://www.w3.org/2000/svg">
            <path d="M1.68301 0.804199C1.15694 0.804199 0.730469 1.23067 0.730469 1.75674C0.730469 2.28281 1.15694 2.70928 1.68301 2.70928H4.71239L5.50456 6.66716C5.50878 6.69427 5.51414 6.721 5.5206 6.74729L7.11185 14.6976C7.24264 15.3551 7.60043 15.9457 8.12264 16.3661C8.64247 16.7846 9.29226 17.0078 9.9593 16.9974H19.2015C19.8686 17.0078 20.5184 16.7846 21.0382 16.3661C21.5606 15.9456 21.9185 15.3547 22.0492 14.6968L23.5746 6.69788C23.6278 6.41902 23.5538 6.13098 23.3728 5.91225C23.1919 5.69352 22.9228 5.5669 22.6389 5.5669H7.22721L6.42719 1.5698C6.33809 1.12462 5.94718 0.804199 5.49317 0.804199H1.68301ZM7.39738 20.8079C7.39738 19.7558 8.25031 18.9028 9.30246 18.9028C10.3546 18.9028 11.2075 19.7558 11.2075 20.8079C11.2075 21.8601 10.3546 22.713 9.30246 22.713C8.25031 22.713 7.39738 21.8601 7.39738 20.8079ZM17.8756 20.8079C17.8756 19.7558 18.7285 18.9028 19.7807 18.9028C20.8328 18.9028 21.6858 19.7558 21.6858 20.8079C21.6858 21.8601 20.8328 22.713 19.7807 22.713C18.7285 22.713 17.8756 21.8601 17.8756 20.8079Z" />
          </svg>
        </i>

        <span v-if="badge" class="btn__cart--total-value">
          {{ badge }}
        </span>
      </span>
      <!-- //Total -->
    </template>

    <template v-else-if="type === 'floatBuy'">
      <NLink
        :to="{ name: 'checkout' }"
        data-mobile-text="Заказать"
      >
        <span>
          <span>
            Оформить заказ
          </span>
        </span>
      </NLink>
      <i class="btn__cart--product-buy_ic">
        <svg viewBox="0 0 23 23" xmlns="http://www.w3.org/2000/svg">
          <path d="M11.8477 2.35059C6.87709 2.35059 2.84766 6.38002 2.84766 11.3506C2.84766 16.3211 6.87709 20.3506 11.8477 20.3506C16.8182 20.3506 20.8477 16.3211 20.8477 11.3506C20.8477 6.38002 16.8182 2.35059 11.8477 2.35059ZM0.847656 11.3506C0.847656 5.27545 5.77252 0.350586 11.8477 0.350586C17.9228 0.350586 22.8477 5.27545 22.8477 11.3506C22.8477 17.4257 17.9228 22.3506 11.8477 22.3506C5.77252 22.3506 0.847656 17.4257 0.847656 11.3506ZM12.5548 6.64348L16.554 10.6428C16.5565 10.6452 16.5589 10.6476 16.5613 10.65C16.7378 10.8298 16.8469 11.076 16.8477 11.3476C16.8477 11.3486 16.8477 11.3496 16.8477 11.3506C16.8477 11.3516 16.8477 11.3526 16.8477 11.3536C16.8473 11.4881 16.8203 11.6163 16.7718 11.7334C16.7241 11.8486 16.6539 11.9568 16.5613 12.0511C16.5589 12.0536 16.5565 12.056 16.554 12.0584L12.5548 16.0577C12.1642 16.4482 11.5311 16.4482 11.1405 16.0577C10.75 15.6672 10.75 15.034 11.1405 14.6435L13.4334 12.3506H7.84766C7.29537 12.3506 6.84766 11.9029 6.84766 11.3506C6.84766 10.7983 7.29537 10.3506 7.84766 10.3506H13.4334L11.1405 8.05769C10.75 7.66717 10.75 7.034 11.1405 6.64348C11.5311 6.25295 12.1642 6.25295 12.5548 6.64348Z" />
        </svg>
      </i>
    </template>

    <template v-else-if="type === 'floatBuyProduct'">
      <a
        data-mobile-text="Купить"
      >
        <span>
          <span>
            Купить
          </span>
        </span>
      </a>
    </template>

    <template v-else-if="type === 'close'">
      <i class="btn__close--ic">
        <svg viewBox="0 0 10 9" xmlns="http://www.w3.org/2000/svg">
          <path d="M8.83073 0.793945L1.37891 8.24577" />
          <path d="M1.37891 0.793945L8.83073 8.24577" />
        </svg>
      </i>
    </template>

    <template v-else-if="type === 'closeMenu'">
      <span>закрыть меню</span>
      <i class="btn__close--ic">
        <svg viewBox="0 0 10 9" xmlns="http://www.w3.org/2000/svg">
          <path d="M8.83073 0.793945L1.37891 8.24577" />
          <path d="M1.37891 0.793945L8.83073 8.24577" />
        </svg>
      </i>
    </template>

    <template v-else-if="type === 'closeCheckout'">
      <span>Закрыть</span>
      <i class="btn__close--ic">
        <svg viewBox="0 0 10 9" xmlns="http://www.w3.org/2000/svg">
          <path d="M8.83073 0.793945L1.37891 8.24577" />
          <path d="M1.37891 0.793945L8.83073 8.24577" />
        </svg>
      </i>
    </template>

    <template v-else-if="type === 'delete'">
      <span>удалить</span>
    </template>

    <template v-else-if="type === 'clear'">
      <i class="btn__clear--ic">
        <svg viewBox="0 0 9 10" xmlns="http://www.w3.org/2000/svg">
          <path d="M8.09342 1.06348L0.641602 8.5153" />
          <path d="M0.641602 1.06348L8.09342 8.5153" />
        </svg>
      </i>
    </template>

    <template v-else-if="type === 'search'">
      <i class="btn__search--ic">
        <svg viewBox="0 0 16 15" xmlns="http://www.w3.org/2000/svg">
          <path d="M7.36978 12.6048C10.5814 12.6048 13.1849 10.0013 13.1849 6.7897C13.1849 3.57811 10.5814 0.974609 7.36978 0.974609C4.15819 0.974609 1.55469 3.57811 1.55469 6.7897C1.55469 10.0013 4.15819 12.6048 7.36978 12.6048Z" />
          <path d="M14.6395 14.0584L11.4775 10.8965" />
        </svg>
      </i>
    </template>

    <template v-else-if="type === 'back'">
      <i class="back-link__ic">
        <svg viewBox="0 0 17 17" xmlns="http://www.w3.org/2000/svg">
          <path d="M15.3281 8.24316H1.32812" />
          <path d="M8.32812 15.2432L1.32812 8.24316L8.32812 1.24316" />
        </svg>
      </i>
    </template>

    <template v-else-if="type === 'callback'">
      <i class="btn__phone--ic">
        <svg viewBox="0 0 23 23" xmlns="http://www.w3.org/2000/svg">
          <path d="M21.6498 16.2121V19.2121C21.651 19.4906 21.5939 19.7663 21.4823 20.0214C21.3708 20.2766 21.2071 20.5057 21.0019 20.694C20.7967 20.8822 20.5544 21.0256 20.2906 21.1148C20.0268 21.204 19.7472 21.2372 19.4698 21.2121C16.3927 20.8777 13.4368 19.8262 10.8398 18.1421C8.42366 16.6068 6.37517 14.5583 4.83984 12.1421C3.14981 9.53329 2.09808 6.56308 1.76984 3.47209C1.74485 3.19556 1.77771 2.91685 1.86634 2.65371C1.95496 2.39058 2.09741 2.14878 2.2846 1.94371C2.4718 1.73864 2.69964 1.5748 2.95363 1.46261C3.20761 1.35042 3.48218 1.29235 3.75984 1.29209H6.75984C7.24514 1.28731 7.71563 1.45917 8.0836 1.77562C8.45157 2.09208 8.69191 2.53154 8.75984 3.01209C8.88646 3.97216 9.12129 4.91482 9.45984 5.82209C9.59438 6.18001 9.6235 6.569 9.54374 6.94297C9.46399 7.31693 9.2787 7.6602 9.00984 7.93209L7.73984 9.20209C9.16339 11.7056 11.2363 13.7785 13.7398 15.2021L15.0098 13.9321C15.2817 13.6632 15.625 13.4779 15.999 13.3982C16.3729 13.3184 16.7619 13.3475 17.1198 13.4821C18.0271 13.8206 18.9698 14.0555 19.9298 14.1821C20.4156 14.2506 20.8592 14.4953 21.1764 14.8696C21.4935 15.2439 21.662 15.7217 21.6498 16.2121Z" />
        </svg>
      </i>
    </template>
  </button>
</template>

<script lang="ts">
import { Vue, Component, Prop } from 'vue-property-decorator';

export enum EButtonType {
  accent = 'accent',
  arrowNext = 'arrowNext',
  arrowPrev = 'arrowPrev',
  choice = 'choice',
  headerMenu = 'headerMenu',
  floatMenu = 'floatMenu',
  floatFilter = 'floatFilter',
  floatWishList = 'floatWishList',
  floatCart = 'floatCart',
  floatBuy = 'floatBuy',
  floatBuyProduct = 'floatBuyProduct',
  close = 'close',
  closeMenu = 'closeMenu',
  closeCheckout = 'closeCheckout',
  delete = 'delete',
  clear = 'clear',
  search = 'search',
  back = 'back',
  callback = 'callback',
}

@Component
export default class AppButton extends Vue {
  @Prop({
    type: String as () => EButtonType,
    required: true,
    validator(value: any): boolean {
      return value in EButtonType;
    },
  }) type!: EButtonType;

  @Prop({
    type: Boolean,
    default: false,
  }) disabled!: boolean;

  @Prop({
    type: Boolean,
    default: false,
  }) active!: boolean;

  @Prop({
    default: '',
  }) badge!: number;

  get btnClass() {
    switch (this.type) {
      case EButtonType.accent:
        return 'btn btn-accent';

      case EButtonType.arrowNext:
        return 'btn__arrow btn__arrow--next';

      case EButtonType.arrowPrev:
        return 'btn__arrow btn__arrow--prev';

      case EButtonType.choice:
        return 'btn-choice';

      case EButtonType.headerMenu:
        return 'btn__menu menu__btn';

      case EButtonType.floatMenu:
        return 'btn__menu';

      case EButtonType.floatFilter:
        return 'btn__filter';

      case EButtonType.floatWishList:
        return 'btn__wishlist';

      case EButtonType.floatCart:
        return 'btn__cart';

      case EButtonType.floatBuy:
      case EButtonType.floatBuyProduct:
        return 'btn__cart--product-buy';

      case EButtonType.close:
        return 'btn__close only-ic';

      case EButtonType.closeMenu:
        return 'btn__close btn__close--lg';

      case EButtonType.closeCheckout:
        return 'btn__close';

      case EButtonType.delete:
        return 'btn__delete';

      case EButtonType.clear:
        return 'btn__clear';

      case EButtonType.search:
        return 'btn__search';

      case EButtonType.back:
        return 'back-link';

      case EButtonType.callback:
        return 'btn__phone';

      default:
        return '';
    }
  }
}
</script>

<style lang="stylus">
</style>
