<template>
  <div class="form-group__input--wrapper_block text-center">
    <div class="form-group__input--wrapper ">
      <label class="form-group__checkbox--wrapper">
        <input
          type="checkbox"
          v-bind="$attrs"
          @change="$emit('input', $event.target.checked)"
        >
        <span class="form-group__checkbox">
          <slot />
        </span>
      </label>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator';

@Component({
  inheritAttrs: false,
})
export default class AppCheckbox extends Vue {
}
</script>

<style lang="stylus">
</style>
