<template>
  <div class="form-group__input--wrapper">
    <!-- Error -->
    <div v-if="!isValid" class="form-group__error">
      <p>Поле обязательно для заполнения</p>
    </div>
    <!-- //Error -->
    <input
      :type="type"
      class="form-group__input"
      :class="inputClass"
      autocomplete="off"
      :placeholder="placeholder"
      v-bind="$attrs"
      :value="value"
      @input="onInput"
      @focus="$emit('focus')"
      @blur="$emit('blur')"
    >
    <span
      class="form-group__line"
      :class="lineClass"
      :style="width ? { width: `${width}px` } : {}"
    />

    <span
      v-if="autoResize"
      ref="buffer"
      class="form-group__input autoResizeBuffer"
      :class="inputClass"
    >
      {{ bufferText }}
    </span>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop, Ref } from 'vue-property-decorator';

@Component({
  inheritAttrs: false,
})
export default class AppInput extends Vue {
  @Prop({
    type: String,
    default: 'text',
  }) type!: string;

  @Prop({
    type: String,
  }) value?: string;

  @Prop({
    type: String,
  }) inputClass?: string;

  @Prop({
    type: String,
  }) lineClass?: string;

  @Prop({
    type: String,
  }) placeholder?: string;

  @Prop({
    type: Boolean,
    default: false,
  }) required!: boolean;

  @Prop({
    type: Boolean,
    default: false,
  }) autoResize!: boolean;

  width: number | null = null;

  @Ref() readonly buffer!: HTMLElement;

  get isValid() {
    return true;
  }

  get bufferText() {
    if (!this.autoResize) {
      return '';
    }

    // side effect for line width sync
    if (this.autoResize) {
      setTimeout(() => {
        this.width = this.buffer?.getBoundingClientRect().width;
      }, 0);
    } else {
      this.width = null;
    }

    const text = this.value || this.placeholder;

    return text ? `_${text}_` : '';
  }

  onInput(event: any) {
    const value = event?.target?.value;
    this.$emit('input', value);
  }
}
</script>

<style lang="stylus" scoped>
.form-group__input--wrapper
  width 100%

.autoResizeBuffer
  position fixed
  top -1000px
  left -1000px
  visibility hidden
  white-space nowrap
  width auto
</style>
