<template>
  <div class="compare__product--card compare-block">
    <div class="product__card">
      <!-- Product params -->
      <div class="product__params compare-block-gutters">
        <div
          v-if="item.dimensions"
          class="row align-horisontal-start align-vertical-end product__params--row row-gutters"
        >
          <!-- Size -->
          <div class="product__params--item-wrapper product-params-sizes">
            <div class="product__params--item">
              <p class="product__params--item-value">
                {{ item.dimensions.width }} <span>мм</span> <span>х</span> {{ item.dimensions.height }} <span>мм</span>
              </p>
            </div>
          </div>
          <!-- //Size -->

          <!-- Height -->
          <div class="product__params--item-wrapper product-params-height">
            <div class="product__params--item">
              <p class="product__params--item-label">
                высота
              </p>
              <p class="product__params--item-value">
                {{ item.dimensions.length }} <span>мм</span>
              </p>
            </div>
          </div>
          <!-- //Height -->

          <!-- Length -->
          <div class="product__params--item-wrapper product-params-length">
            <div class="product__params--item">
              <p class="product__params--item-label">
                {{ item.dimensions.customName }}
              </p>
              <p class="product__params--item-value">
                {{ item.dimensions.custom }} <span>мм</span>
              </p>
            </div>
          </div>
          <!-- //Length -->
        </div>
      </div>
      <!-- //Product params -->
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from 'vue-property-decorator';

import { TItem } from '~/types/item';

@Component
export default class CompareDimensions extends Vue {
  @Prop({ required: true, type: Object as () => TItem }) item!: TItem;
}
</script>

<style lang="stylus" scoped>
</style>
