<template>
  <div class="compare__product--card compare-block">
    <div class="product__card">
      <div
        class="product__card--description compare-block-gutters"
        v-html="item.description"
      />
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from 'vue-property-decorator';

import { TItem } from '~/types/item';

@Component
export default class CompareDescription extends Vue {
  @Prop({ required: true, type: Object as () => TItem }) item!: TItem;
}
</script>

<style lang="stylus" scoped>
</style>
