<template>
  <div class="product__params">
    <h6 class="product__params--title">
      {{ item.dimensions.text }}:
    </h6>

    <div class="row align-horizontal-start align-vertical-end product__params--row row-gutters">
      <div class="product__params--item-wrapper  product-params-sizes">
        <div class="product__params--item">
          <p class="product__params--item-value">
            {{ item.dimensions.width }} <span>мм</span> <span>х</span> {{ item.dimensions.length }} <span>мм</span>
          </p>
        </div>
      </div>

      <div class="product__params--item-wrapper product-params-height">
        <div class="product__params--item">
          <p class="product__params--item-label">
            высота
          </p>
          <p class="product__params--item-value">
            {{ item.dimensions.height }} <span>мм</span>
          </p>
        </div>
      </div>

      <div class="product__params--item-wrapper product-params-length">
        <div class="product__params--item">
          <p class="product__params--item-label">
            {{ item.dimensions.customName.toLocaleLowerCase() }}
          </p>
          <p class="product__params--item-value">
            {{ item.dimensions.custom }} <span>мм</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from 'vue-property-decorator';

import { TItem } from '~/types/item';

@Component
export default class Dimensions extends Vue {
  @Prop({ required: true, type: Object as () => TItem }) item!: TItem;
}
</script>

<style lang="stylus">
</style>
