<template>
  <ul class="dropdown__list">
    <slot />
  </ul>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator';

@Component
export default class DropdownList extends Vue {
}
</script>

<style lang="stylus">
</style>
