<template>
  <li class="dropdown__list--item">
    <template v-if="link">
      <a
        :href="href"
        class="dropdown__list--link"
        :class="{ 'is-active': active }"
        @click.prevent="$emit('click')"
      >
        <slot />
      </a>
    </template>

    <template v-else>
      <slot />
    </template>
  </li>
</template>

<script lang="ts">
import { Vue, Component, Prop } from 'vue-property-decorator';

@Component
export default class DropdownItem extends Vue {
  @Prop({
    type: Boolean,
    default: false,
  }) link!: boolean;

  @Prop({
    type: Boolean,
    default: false,
  }) active!: boolean;

  @Prop({
    type: String,
  }) href?: string;
}
</script>

<style lang="stylus" scoped>
.dropdown__list--link
  cursor pointer
</style>
