<template>
  <div class="delivery-city__dropdown--block">
    <span
      v-if="letter"
      class="delivery-city__dropdown--letter"
    >
      {{ letter }}
    </span>

    <ul class="dropdown__list text-left">
      <slot />
    </ul>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from 'vue-property-decorator';

@Component
export default class DropdownGroup extends Vue {
  @Prop({
    type: String,
  }) letter?: string;
}
</script>

<style lang="stylus">
</style>
