<template>
  <button
    class="ic__block"
    :class="{
      'is-active': bg === 'primary',
      'ic__block--light': light,
      'ic__block--sm': small,
    }"
    @click="$emit('click')"
  >
    <i class="ic">
      <template v-if="icon === 'heart'">
        <svg width="27" height="24" viewBox="0 0 27 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M15.9723 1.15821C16.8686 0.786846 17.8292 0.595703 18.7993 0.595703C19.7695 0.595703 20.7301 0.786846 21.6264 1.15821C22.5225 1.52951 23.3367 2.07369 24.0224 2.75967C24.7084 3.44543 25.253 4.25999 25.6243 5.15608C25.9956 6.05234 26.1868 7.01298 26.1868 7.98313C26.1868 8.95329 25.9956 9.91393 25.6243 10.8102C25.2529 11.7064 24.7087 12.5206 24.0226 13.2064C24.0226 13.2065 24.0227 13.2063 24.0226 13.2064L13.9785 23.2505C13.5348 23.6942 12.8154 23.6942 12.3717 23.2505L2.32761 13.2064C0.942315 11.8211 0.164062 9.94224 0.164062 7.98313C0.164062 6.02403 0.942315 4.14516 2.32761 2.75986C3.71291 1.37456 5.59178 0.596311 7.55088 0.596311C9.50999 0.596311 11.3889 1.37456 12.7742 2.75986L13.1751 3.16082L13.5759 2.76005C13.576 2.75999 13.5758 2.76011 13.5759 2.76005C14.2617 2.07398 15.0761 1.52954 15.9723 1.15821ZM18.7993 2.86812C18.1277 2.86812 17.4626 3.00045 16.8422 3.25755C16.2217 3.51465 15.6579 3.89148 15.1831 4.36651L13.9785 5.57108C13.5348 6.0148 12.8154 6.0148 12.3717 5.57108L11.1673 4.3667C10.2082 3.40757 8.90731 2.86873 7.55088 2.86873C6.19446 2.86873 4.89359 3.40757 3.93445 4.3667C2.97532 5.32584 2.43648 6.62671 2.43648 7.98313C2.43648 9.33956 2.97532 10.6404 3.93445 11.5996L13.1751 20.8402L22.4158 11.5996C22.8908 11.1248 23.2678 10.5608 23.5249 9.94032C23.782 9.31984 23.9144 8.65477 23.9144 7.98313C23.9144 7.31149 23.782 6.64643 23.5249 6.02594C23.2678 5.40545 22.891 4.8417 22.416 4.36689C21.9412 3.89186 21.377 3.51465 20.7565 3.25755C20.1361 3.00045 19.471 2.86812 18.7993 2.86812Z" />
        </svg>
      </template>
      <template v-else-if="icon === 'cart'">
        <svg width="28" height="27" viewBox="0 0 28 27" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M1.47949 0.15918C0.927207 0.15918 0.479492 0.606895 0.479492 1.15918C0.479492 1.71146 0.927207 2.15918 1.47949 2.15918H5.20464L6.17214 6.99307C6.17674 7.02304 6.18267 7.05258 6.18987 7.08161L8.08853 16.5678L8.08872 16.5688C8.23851 17.3217 8.64822 17.998 9.24622 18.4794C9.84177 18.9588 10.5863 19.2145 11.3505 19.2023H22.377C23.1412 19.2145 23.8857 18.9588 24.4813 18.4794C25.0796 17.9978 25.4894 17.3211 25.639 16.5678L25.639 16.5678L25.6404 16.5603L27.4584 7.02755C27.5142 6.7348 27.4366 6.43241 27.2466 6.20278C27.0566 5.97315 26.7741 5.84022 26.4761 5.84022H7.98107L7.00488 0.962923C6.91134 0.495565 6.50095 0.15918 6.02433 0.15918H1.47949ZM10.0499 16.1768L8.38137 7.84022H25.2674L23.6766 16.1815C23.6179 16.4731 23.4589 16.7349 23.2272 16.9215C22.9945 17.1087 22.7035 17.2082 22.4049 17.2025L22.3857 17.2023H11.3418L11.3226 17.2025C11.024 17.2082 10.733 17.1087 10.5004 16.9215C10.2677 16.7342 10.1084 16.4711 10.0502 16.1782L10.0499 16.1768ZM10.5692 23.7471C10.4939 23.7471 10.433 23.8081 10.433 23.8834C10.433 23.9586 10.4939 24.0196 10.5692 24.0196C10.6444 24.0196 10.7054 23.9586 10.7054 23.8834C10.7054 23.8081 10.6444 23.7471 10.5692 23.7471ZM8.43295 23.8834C8.43295 22.7036 9.38937 21.7471 10.5692 21.7471C11.749 21.7471 12.7054 22.7036 12.7054 23.8834C12.7054 25.0631 11.749 26.0196 10.5692 26.0196C9.38937 26.0196 8.43295 25.0631 8.43295 23.8834ZM23.0675 23.7471C22.9922 23.7471 22.9312 23.8081 22.9312 23.8834C22.9312 23.9586 22.9922 24.0196 23.0675 24.0196C23.1427 24.0196 23.2037 23.9586 23.2037 23.8834C23.2037 23.8081 23.1427 23.7471 23.0675 23.7471ZM20.9312 23.8834C20.9312 22.7036 21.8877 21.7471 23.0675 21.7471C24.2472 21.7471 25.2037 22.7036 25.2037 23.8834C25.2037 25.0631 24.2472 26.0196 23.0675 26.0196C21.8877 26.0196 20.9312 25.0631 20.9312 23.8834Z" />
        </svg>
      </template>
    </i>
  </button>
</template>

<script lang="ts">
import { Vue, Component, Prop } from 'vue-property-decorator';

export enum EIconButtonBg {
  basic = 'basic',
  primary = 'primary',
  secondary = 'secondary',
}

export enum EIconButtonIcon {
  heart = 'heart',
  cart = 'cart',
}

@Component
export default class IconButton extends Vue {
  @Prop({
    type: String,
    required: true,
    validator(value: any): boolean {
      return value in EIconButtonIcon;
    },
  }) icon!: EIconButtonIcon;

  @Prop({
    type: Boolean,
    default: false,
  }) withBadge!: boolean;

  @Prop({
    type: Number,
    default: 0,
  }) count!: number;

  @Prop({
    type: String,
    default: () => EIconButtonBg.basic,
    validator(value: any): boolean {
      return value in EIconButtonBg;
    },
  }) bg!: EIconButtonBg;

  @Prop({
    type: Boolean,
    default: false,
  }) small!: boolean;

  @Prop({
    type: Boolean,
    default: false,
  }) light!: boolean;
}
</script>

<style lang="stylus">
</style>
