<template>
  <div>
    <VueSlider
      :min="min"
      :max="max"
      :interval="step"
      adsorb
      tooltip="none"
      :enable-cross="false"
      :value="[from, to]"
      @change="onChange"
    >
      <template #dot="{ value, index }">
        <div class="vue-slider-dot-handle" />

        <div
          v-if="index === 0 || !isEdgeAndBeside"
          class="vue-slider-dot-tooltip vue-slider-dot-tooltip-top"
          :class="{
            'is-edge': index === 1 && isRightOnEdge,
            'is-beside': (isBeside && !isEdgeAndBeside) || (isEdgeAndBeside && isTogetherOnEdge),
          }"
        >
          <div class="vue-slider-dot-tooltip-inner vue-slider-dot-tooltip-inner-top">
            <span class="vue-slider-dot-tooltip-text">
              {{ isEdgeAndBeside ? togetherValue : value }}
            </span>
          </div>
        </div>
      </template>
    </VueSlider>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from 'vue-property-decorator';
import VueSlider from 'vue-slider-component/dist-css/vue-slider-component.umd.min.js';

@Component({
  components: {
    VueSlider,
  },
})
export default class Range extends Vue {
  @Prop({
    type: Number,
    required: true,
  }) from!: number;

  @Prop({
    type: Number,
    required: true,
  }) to!: number;

  @Prop({
    type: Number,
    required: true,
  }) min!: number;

  @Prop({
    type: Number,
    required: true,
  }) max!: number;

  @Prop({
    type: Number,
    required: true,
  }) step!: number;

  @Prop({
    type: Number,
    default: 10,
  }) besidePercent!: number;

  curFrom: number = this.from;
  curTo: number = this.to;

  get minRange() {
    return (this.max - this.min) * this.besidePercent / 100;
  }

  get isLeftOnEdge() {
    // check right edge
    return this.max - this.curFrom <= this.minRange;
  }

  get isRightOnEdge() {
    // check right edge
    return this.max - this.curTo <= this.minRange;
  }

  get isBeside() {
    // check if dots too close to each other
    return this.curTo - this.curFrom <= this.minRange;
  }

  get isEdgeAndBeside() {
    if (this.curFrom === this.curTo) {
      return true;
    }

    // check left edge for the left dot and right edge for the right dot
    const isAnyOnEdge = (this.curFrom - this.min <= this.minRange) ||
      this.isRightOnEdge;

    // check beside for double minRange because label are points towards each other
    const isBeside = this.curTo - this.curFrom <= this.minRange * 2;

    return isBeside && isAnyOnEdge;
  }

  get isTogetherOnEdge() {
    // check right edge
    return this.max - this.curFrom <= this.minRange * 2;
  }

  get togetherValue() {
    if (this.curFrom === this.curTo) {
      return this.curFrom;
    }

    return `${this.curFrom} - ${this.curTo}`;
  }

  onChange([from, to]: [number, number]) {
    this.curFrom = from;
    this.curTo = to;

    this.$emit('change', [from, to]);
  }
}
</script>

<style lang="stylus">
</style>
