<template>
  <div class="content__wrapper">
    <!-- Thanks block -->
    <div v-if="isThanks" class="thanks__wrapper">
      <div class="thanks__overflow">
        <div class="thanks__body text-center">
          <!-- Close -->
          <AppButton
            type="close"
            @click="isThanks = false"
          />
          <!-- //Close -->

          <div class="thanks__content">
            <div class="thanks__content--text">
              <h3 class="thanks__title sect__title--md secondary-color">
                Спасибо
              </h3>
              <p>
                Ваш заказ отправлен, скоро мы свяжемся с вами и обговорим все условия и доставку.
              </p>
            </div>

            <div class="thanks__links">
              <ul>
                <li>
                  <NLink
                    :to="{ name: 'index' }"
                    class="line__wrapper link-default"
                  >
                    <span class="line__content">
                      Товары для дома
                    </span>
                    <span class="line" />
                  </NLink>
                </li>
                <li>
                  <NLink
                    :to="{ name: 'payment-and-delivery' }"
                    class="line__wrapper link-default"
                  >
                    <span class="line__content">
                      Оплата и доставка
                    </span>
                    <span class="line" />
                  </NLink>
                </li>
                <li>
                  <NLink
                    :to="{ name: 'orders' }"
                    class="line__wrapper link-default"
                  >
                    <span class="line__content">
                      Мои заказы
                    </span>
                    <span class="line" />
                  </NLink>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- //Thanks block -->

    <Callback />

    <!-- Main -->
    <main class="main">
      <!-- Section checkout -->
      <section class="sect__checkout light-accent-bg">
        <h2 class="w3c">
          &nbsp;
        </h2>

        <!-- Close -->
        <AppButton
          type="closeCheckout"
          @click="onClose"
        />
        <!-- //Close -->

        <div class="container text-center">
          <h3 class="sect__title--sm secondary-color">
            Оформление заказа
          </h3>

          <div class="checkout__form--wrapper">
            <form class="checkout__form" autocomplete="off">
              <!-- Form group -->
              <FormGroup
                label="Как к Вам обращаться?"
                scaled
                :filled="isNameFilled"
                :focused="focus === 'name'"
                @click="focus = 'name'"
              >
                <AppFormInput
                  required
                  placeholder="Ваше имя"
                  auto-resize
                  tabindex="1"
                  :value="user.name"
                  @input="onInputName"
                  @focus="focus = 'name'"
                />
              </FormGroup>
              <!-- //Form group -->

              <!-- Form group -->
              <FormGroup
                label="Как с Вами связаться?"
                scaled
                :filled="isContactsFilled"
                :focused="focus === 'contacts'"
                @click="focus = 'contacts'"
              >
                <AppFormInput
                  required
                  type="tel"
                  placeholder="Телефон"
                  auto-resize
                  tabindex="2"
                  :value="user.phone"
                  @input="onInputPhone"
                  @focus="focus = 'contacts'"
                />

                <AppFormInput
                  required
                  type="email"
                  placeholder="E-mail"
                  auto-resize
                  tabindex="3"
                  :value="user.email"
                  @input="onInputEmail"
                  @focus="focus = 'contacts'"
                >
                  <template #errors>
                    <p>Поле должно содержать <span class="accent-color">@</span></p>
                  </template>
                </AppFormInput>
              </FormGroup>
              <!-- // Form group -->

              <!-- Form group -->
              <FormGroup
                label="Куда доставлять?"
                delivery
                :filled="isAddressFilled"
                :focused="focus === 'delivery'"
                @click="focus = 'delivery'"
              >
                <template #label>
                  <p class="form-group__label is-scaled">
                    {{ focus === 'delivery' ? 'Доставка' : 'Куда доставлять?' }}
                  </p>
                </template>

                <AppCheckbox
                  tabindex="4"
                  :value="user.pickup"
                  @input="onInputPickup"
                  @focus="focus = 'delivery'"
                >
                  Самовывоз
                </AppCheckbox>

                <LocationSelector
                  tabindex="5"
                  @focus="focus = 'delivery'"
                />

                <AppFormInput
                  :placeholder="user.pickup ? 'Адрес для самовывоза' : 'Адрес доставки'"
                  input-class="no-scale"
                  auto-resize
                  tabindex="6"
                  :value="user.pickup ? currentLocation.office : user.address"
                  @input="onInputAddress"
                  @focus="focus = 'delivery'"
                />
              </FormGroup>
              <!-- //Form group -->

              <!-- Mobile city dropdown-->
              <LocationSelectorMobile />
              <!-- //Mobile city dropdown--->

              <!-- Submit -->
              <div class="submit__block">
                <AppButton
                  type="accent"
                  :disabled="!isFormFilled"
                  @click="onSubmit"
                >
                  Отправить заказ
                </AppButton>
              </div>
              <!-- //Submit -->
            </form>
            <!-- //form -->

            <p class="form__notice">
              Нажимая «Отправить заказ» вы соглашаетесь с
              <br>
              <a href="#">политикой конфиденциальности</a>
            </p>
          </div>
        </div>
        <!-- //container -->
      </section>
      <!-- //Section checkout -->
    </main>
    <!-- //Main -->
  </div>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator';

import { initStore } from '~/store';

import LocationSelector from '~/components/organisms/LocationSelector.vue';
import LocationSelectorMobile from '~/components/organisms/LocationSelectorMobile.vue';
import Callback from '~/components/organisms/Callback.vue';

import FormGroup from '~/components/molecules/FormGroup.vue';
import AppFormInput from '~/components/molecules/AppFormInput.vue';

import AppButton from '~/components/atoms/AppButton.vue';
import AppCheckbox from '~/components/atoms/AppCheckbox.vue';

@Component({
  components: {
    LocationSelector,
    LocationSelectorMobile,
    Callback,

    FormGroup,
    AppFormInput,

    AppButton,
    AppCheckbox,
  },
})
export default class Checkout extends Vue {
  store = initStore(this.$store);

  focus: 'name' | 'contacts' | 'delivery' = 'name';
  isThanks = false;

  get user() {
    return this.store.state.user;
  }

  get citiesMap() {
    return this.store.getters.citiesMap;
  }

  get currentLocation() {
    if (!this.user.city) {
      return {};
    }

    return this.citiesMap[this.user.city] ?? {};
  }

  get isNameFilled() {
    return Boolean(this.user.name);
  }

  get isContactsFilled() {
    return Boolean(this.user.phone && this.user.email);
  }

  get isAddressFilled() {
    return Boolean(this.user.city && (this.user.address || this.user.pickup));
  }

  get isFormFilled() {
    return this.isNameFilled && this.isContactsFilled && this.isAddressFilled;
  }

  onInputName(name: string) {
    this.store.actions.updateUser({
      user: {
        ...this.user,
        name,
      },
    });
  }

  onInputPhone(phone: string) {
    this.store.actions.updateUser({
      user: {
        ...this.user,
        phone,
      },
    });
  }

  onInputEmail(email: string) {
    this.store.actions.updateUser({
      user: {
        ...this.user,
        email,
      },
    });
  }

  onInputPickup(pickup: boolean) {
    this.store.actions.updateUser({
      user: {
        ...this.user,
        pickup,
      },
    });
  }

  onInputAddress(address: string) {
    this.store.actions.updateUser({
      user: {
        ...this.user,
        address,
      },
    });
  }

  onClose() {
    this.$router.go(-1);
  }

  async onSubmit() {
    await this.store.actions.placeOrder({
      user: this.store.state.user,
      items: this.store.getters.cartItems,
    });

    this.isThanks = true;
  }
}
</script>

<style lang="stylus">
</style>
