<template>
  <div class="content__wrapper">
    <!-- Menu -->
    <!-- Cart -->
    <!-- callback -->
    <Header disable-top />
    <!-- //Menu -->
    <!-- //Cart -->
    <!-- //callback -->

    <!-- Float header -->
    <div
      class="compare-header__wrapper js-compare-header"
      :class="{ 'is-fixed': showFloatHeader }"
    >
      <div class="compare-header__top">
        <div class="container">
          <div class="compare-header__content">
            <div class="row align-horisontal-start align-vertical-end">
              <h3 class="sect__title--sm  secondary-color">
                Сравнение товаров
              </h3>
              <!-- Compare categories -->
              <div class="compare__categories ">
                <ul class="compare__categories--list text-center">
                  <li
                    v-for="category in categories"
                    :key="category.id"
                    class="compare__categories--item"
                  >
                    <a
                      class="compare__categories--link"
                      :class="{ 'is-active': category.id === selected }"
                      @click.prevent="onCategoryChange(category.id)"
                    >
                      {{ category.name }} (<span>{{ category.items.length }}</span>)
                    </a>
                  </li>
                </ul>
              </div>
              <!-- //Compare categories -->
            </div>
          </div>
        </div>
        <!-- //container -->
      </div>

      <div class="compare-header__bottom">
        <div class="compare-header__products--wrapper">
          <div class="compare-header__products">
            <div
              v-for="item in items"
              :key="item.id"
              class="compare-header__product--wrapper"
            >
              <div class="compare-header__product">
                <div class="row align-vertical-center align-horisontal-between row-nowrap">
                  <div class="compare-header__product--info">
                    <h4 class="product__card--title">
                      <NLink :to="{ name: 'item-name', params: { name: item.url } }">
                        {{ item.title }}
                      </NLink>
                    </h4>

                    <div class="product__card--price-block">
                      <!-- Discount -->
                      <div v-if="false" class="product__card--price-discount">
                        <span class="product__card--price-discount_value">
                          -97%
                        </span>
                        <span class="product__card--price-discount_old-price">
                          72000
                        </span>
                      </div>
                      <!-- //Discount -->

                      <p class="product__card--price price">
                        {{ price(item.price) }}
                      </p>
                    </div>
                  </div>

                  <div class="product__card--icons">
                    <!-- Wishlist -->
                    <IconButton
                      icon="heart"
                      :bg="inWishList(item.id) ? 'primary' : 'basic'"
                      @click="onWishList(item.id)"
                    />
                    <!-- //Wishlist -->

                    <!-- Cart -->
                    <IconButton
                      icon="cart"
                      :bg="inCart(item.id) ? 'primary' : 'basic'"
                      @click="onCart(item.id)"
                    />
                    <!-- //Cart -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- //Float header -->

    <!-- Main -->
    <main class="main">
      <section class="sect__compare gutters light-bg">
        <h2
          class="sect__title--sm container text-center secondary-color sect__compare--title"
          data-mobile-text="Избранное"
        >
          <span>Сравнение товаров</span>
        </h2>

        <!-- Close -->
        <AppButton
          type="closeCheckout"
          @click="onClose"
        />
        <!-- //Close -->

        <div class="container">
          <!-- Compare categories -->
          <div class="compare__categories ">
            <ul class="compare__categories--list text-center">
              <li
                v-for="category in categories"
                :key="category.id"
                class="compare__categories--item"
              >
                <a
                  class="compare__categories--link"
                  :class="{ 'is-active': category.id === selected }"
                  @click.prevent="onCategoryChange(category.id)"
                >
                  {{ category.name }} (<span>{{ category.items.length }}</span>)
                </a>
              </li>
            </ul>
          </div>
          <!-- //Compare categories -->
        </div>
        <!-- //container -->

        <!-- Compare -->
        <div class="compare__wrapper">
          <div ref="products" class="compare__products">
            <!-- Product Cards -->
            <div class="compare__products--block-wrapper">
              <div class="compare__products--block">
                <ItemCard
                  v-for="item in items"
                  :key="item.id"
                  :item="item"
                  is-compare
                />
              </div>
            </div>
            <!-- //Product Cards -->

            <div class="compare__toggle--info text-center">
              <button class="compare__toggle--info-btn js-compare-toggle-content-btn" type="button">
                Описание
              </button>
            </div>

            <!-- Product Cards -->
            <div
              class="compare__products--block-wrapper compare__products--block-wrapper_hidden-mobile"
              :class="{ 'is-hidden': false }"
            >
              <div class="compare__products--block">
                <CompareDescription
                  v-for="item in items"
                  :key="item.id"
                  :item="item"
                />
              </div>
            </div>
            <!-- //Product Cards -->

            <div class="compare__toggle--info text-center">
              <button class="compare__toggle--info-btn js-compare-toggle-content-btn" type="button">
                Габариты
              </button>
            </div>

            <!-- Product Cards -->
            <div
              class="compare__products--block-wrapper compare__products--block-wrapper_hidden-mobile"
              :class="{ 'is-hidden': false }"
            >
              <div class="compare__products--block">
                <CompareDimensions
                  v-for="item in items"
                  :key="item.id"
                  :item="item"
                />
              </div>
            </div>
            <!-- //Product Cards -->

            <div class="compare__toggle--info text-center">
              <button class="compare__toggle--info-btn js-compare-toggle-content-btn" type="button">
                Комплектация
              </button>
            </div>

            <!-- Product Cards -->
            <div
              class="compare__products--block-wrapper compare__products--block-wrapper_hidden-mobile"
              :class="{ 'is-hidden': false }"
            >
              <div class="compare__products--block">
                <CompareEquipment
                  v-for="item in items"
                  :key="item.id"
                  :item="item"
                />
              </div>
            </div>
            <!-- //Product Cards -->
          </div>

          <!-- Controls -->
          <template v-if="false">
            <button class="btn-slider__arrow btn-slider__arrow--prev" type="button">
              <i class="btn-slider__arrow--ic">
                <svg width="9" height="15" viewBox="0 0 9 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M7.86523 13.8057L1.86523 7.80566L7.86523 1.80566" stroke="#F2F2F2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
              </i>
            </button>

            <button class="btn-slider__arrow btn-slider__arrow--next" type="button">
              <i class="btn-slider__arrow--ic">
                <svg width="9" height="15" viewBox="0 0 9 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M1.1543 1.19434L7.1543 7.19434L1.1543 13.1943" stroke="#F2F2F2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
              </i>
            </button>
          </template>
          <!-- //Controls -->
        </div>
        <!-- //Compare -->
      </section>
    </main>
    <!-- //Main -->
  </div>
</template>

<script lang="ts">
import { Vue, Component, Ref } from 'vue-property-decorator';

import { initStore } from '~/store';
import { price } from '~/utils';

import Header from '~/components/organisms/Header.vue';
import ItemCard from '~/components/organisms/ItemCard.vue';
import AppButton from '~/components/atoms/AppButton.vue';
import IconButton from '~/components/atoms/IconButton.vue';
import CompareDescription from '~/components/atoms/CompareDescription.vue';
import CompareDimensions from '~/components/atoms/CompareDimensions.vue';
import CompareEquipment from '~/components/atoms/CompareEquipment.vue';

@Component({
  components: {
    Header,
    ItemCard,
    AppButton,
    IconButton,
    CompareDescription,
    CompareDimensions,
    CompareEquipment,
  },
})
export default class Compare extends Vue {
  category?: string;
  showFloatHeader: boolean = false;

  store = initStore(this.$store);

  @Ref() products!: HTMLElement;

  get categories() {
    return this.store.getters.wishListCategoryItems;
  }

  get items() {
    if (!this.selected) {
      return [];
    }

    return this.categories
      .find(category => category.id === this.selected)?.items ?? [];
  }

  get selected() {
    return this.category ?? this.categories?.[0]?.id;
  }

  onCategoryChange(categoryId?: string) {
    this.category = categoryId;
  }

  price(amount: number): string {
    return price(amount);
  }

  inWishList(id: string) {
    return this.store.state.wishList.includes(id);
  }

  inCart(id: string) {
    return this.store.state.cart.includes(id);
  }

  onWishList(id: string) {
    if (this.inWishList(id)) {
      this.store.actions.removeFromWishList({ id });
    } else {
      this.store.actions.addToWishList({ id });
    }
  }

  onCart(id: string) {
    if (this.inCart(id)) {
      // if there are several those items in cart then remove all of them
      this.store.actions.removeFromCartById({ id });
    } else {
      this.store.actions.addToCart({ id });
    }
  }

  onClose() {
    this.$router.go(-1);
  }

  onScroll() {
    const products = this.products?.getBoundingClientRect().top;
    this.showFloatHeader = products <= 25;
  }

  mounted() {
    window.addEventListener('scroll', this.onScroll);
    this.onScroll();
  }

  beforeDestroy() {
    window.removeEventListener('scroll', this.onScroll);
  }
}
</script>

<style lang="stylus" scoped>
.compare__categories--link
  cursor pointer
</style>
