<template>
  <div class="content__wrapper">
    <Header
      home
      :menu="showMenu"
      :filter="showFilter"
      :disable-callback="!showCallback"
    />

    <!-- Main -->
    <main class="main">
      <!-- Section promo -->
      <section class="sect__promo lighter-accent-bg">
        <h2 class="w3c">
          &nbsp;
        </h2>

        <div class="container">
          <div class="promo__block">
            <h1 class="title">
              Игровые площадки для частных и общественных территорий
            </h1>

            <!-- Categories -->
            <div class="categories">
              <ul class="categories__list row align-horisontal-start">
                <li class="categories__list--item">
                  <a
                    class="categories__list--link"
                    @mouseenter="onPromoEnter(0)"
                    @mouseleave="onPromoLeave"
                  >
                    Домой
                  </a>
                </li>
                <li class="categories__list--item">
                  <a
                    class="categories__list--link"
                    @mouseenter="onPromoEnter(1)"
                    @mouseleave="onPromoLeave"
                  >
                    Частные
                  </a>
                </li>
                <li class="categories__list--item">
                  <a
                    class="categories__list--link"
                    @mouseenter="onPromoEnter(2)"
                    @mouseleave="onPromoLeave"
                  >
                    Общественные
                  </a>
                </li>
                <li class="categories__list--item">
                  <a
                    class="categories__list--link"
                    @mouseenter="onPromoEnter(3)"
                    @mouseleave="onPromoLeave"
                  >
                    Качели «Гнездо»
                  </a>
                </li>
              </ul>
            </div>
            <!-- //Categories -->

            <!-- Categories another products -->
            <div class="categories categories-another">
              <ul class="categories__list row align-horisontal-start">
                <li class="categories__list--item">
                  <a href="#" class="categories__list--link">Песок</a>
                </li>
                <li class="categories__list--item">
                  <a href="#" class="categories__list--link">Покрытия</a>
                </li>
              </ul>
            </div>
            <!-- //Categories other products -->

            <div class="promo__imgs">
              <img
                src="/img/promo/1.png"
                alt=""
                :class="{ 'is-visibled': promoSlide === 0 }"
              >
              <img
                src="/img/promo/2.png"
                alt=""
                :class="{ 'is-visibled': promoSlide === 1 }"
              >
              <img
                src="/img/promo/3.png"
                alt=""
                :class="{ 'is-visibled': promoSlide === 2 }"
              >
              <img
                src="/img/promo/4.png"
                alt=""
                :class="{ 'is-visibled': promoSlide === 3 }"
              >
            </div>
          </div>

          <!-- Catalog scroll link -->
          <a href="#" class="catalog-scroll-link">
            <i class="catalog-scroll-link__ic">
              <svg viewBox="0 0 13 15" xmlns="http://www.w3.org/2000/svg">
                <path d="M1.70801 8.14258L6.70801 13.1426L11.708 8.14258" />
                <path d="M1.70801 1.14258L6.70801 6.14258L11.708 1.14258" />
              </svg>
            </i>
            <span>каталог</span>
          </a>
          <!-- //Catalog scroll link -->
        </div>
        <!-- //container -->
      </section>
      <!-- //Section promo -->

      <section ref="catalog" class="sect__catalog gutters light-bg sect__catalog--offset">
        <h2 class="sect__title container text-left">
          Каталог
        </h2>
        <p class="sect__subtext container">
          Воспользуйтесь <span class="ic-filter">фильтром</span>, чтобы было проще найти то, что подходит вам.
        </p>

        <div class="container">
          <!-- Categories -->
          <div ref="categories" class="categories">
            <Categories />
          </div>
          <!-- //Categories -->

          <!-- Catalog -->
          <div class="catalog">
            <div
              v-for="(category, i) in items"
              :key="category.id"
              class="catalog__block"
            >
              <h3
                v-if="i > 0"
                class="catalog__block--title"
              >
                {{ category.name }}
              </h3>

              <div class="row align-horisontal-start product__cards--row row-gutters">
                <ItemCard
                  v-for="item in category.items"
                  :key="item.id"
                  :item="item"
                />
              </div>
            </div>
          </div>
          <!-- //Catalog -->

          <!-- Another products -->
          <div v-if="sand.length" class="another-product">
            <div class="row align-vertical-center align-horisontal-betnwee another-product__row row-gutters">
              <div class="another-product__col">
                <h3 class="another-product__col--title text-center">
                  А ещё у нас есть песок
                </h3>
                <p class="another-product__col--text text-center">
                  его можно использовать для песочник и для площадок
                </p>

                <div class="another-product__cards--row_wrapper">
                  <div class="row align-horisontal-start another-product__cards--row row-gutters">
                    <SandCard
                      v-for="sandItem in sand"
                      :key="sandItem.id"
                      :item="sandItem"
                    />
                  </div>

                  <AppButton type="choice">
                    выбрать
                  </AppButton>
                </div>
              </div>

              <div class="product__card--col">
                <div class="product__card--wrapper">
                  <div class="product__card">
                    <a href="page-product.html" class="product__card--thumbnail">
                      <img src="/img/product-card.png" alt="">
                    </a>

                    <div class="product__card--info">
                      <h4 class="product__card--title">
                        <a href="page-product.html">Игровой комплекс «Макси делюкс»</a>
                      </h4>

                      <div class="product__card--tools">
                        <div class="row align-vertical-center align-horisontal-between product__card--tools-row">
                          <div class="product__card--price-block">
                            <p class="product__card--price price">
                              62000.–
                            </p>
                          </div>

                          <div class="product__card--icons">
                            <!-- Wishlist -->
                            <a href="#" class="ic__block">
                              <i class="ic">
                                <WishlistSvg />
                              </i>
                            </a>
                            <!-- //Wishlist -->

                            <!-- Cart -->
                            <a href="#" class="ic__block">
                              <i class="ic">
                                <CartSvg />
                              </i>
                            </a>
                            <!-- //Cart -->
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- //Another products -->
        </div>
      </section>
    </main>
    <!-- //Main -->

    <!-- Footer -->
    <Footer />
    <!-- //Footer -->
  </div>
</template>

<script lang="ts">
import { Component, Ref, Vue } from 'vue-property-decorator';

import { initStore } from '~/store';

import Header from '~/components/organisms/Header.vue';
import Footer from '~/components/organisms/Footer.vue';

import Categories from '~/components/organisms/Categories.vue';
import Dropdown from '~/components/molecules/Dropdown.vue';
import DropdownList from '~/components/atoms/DropdownList.vue';
import DropdownItem from '~/components/atoms/DropdownItem.vue';
import ItemCard from '~/components/organisms/ItemCard.vue';
import SandCard from '~/components/organisms/SandCard.vue';
import AppButton from '~/components/atoms/AppButton.vue';

import WishlistSvg from '~/assets/img/icons/svg/wishlist-ic.svg?inline';
import CartSvg from '~/assets/img/icons/svg/cart-ic.svg?inline';

@Component({
  components: {
    Header,
    Footer,

    Categories,
    Dropdown,
    DropdownList,
    DropdownItem,
    ItemCard,
    SandCard,
    AppButton,

    WishlistSvg,
    CartSvg,
  },
})
export default class Main extends Vue {
  showMenu: boolean = false;
  showFilter: boolean = false;
  showCallback: boolean = true;
  promoSlide: number = 0;

  store = initStore(this.$store);

  @Ref() readonly catalog!: HTMLElement;
  @Ref() readonly categories!: HTMLElement;

  get items() {
    return this.store.getters.filteredCategoryItems;
  }

  get sand() {
    return this.store.getters.sandItems;
  }

  onScroll() {
    const body = document.getElementsByTagName('body')[0];
    if (body.getBoundingClientRect().width <= 700) {
      this.showFilter = false;
      return;
    }

    const catalog = this.catalog?.getBoundingClientRect().top;
    const categories = this.categories?.getBoundingClientRect().top;

    this.showMenu = catalog <= 133;
    this.showFilter = categories <= 0;
    this.showCallback = body.getBoundingClientRect().bottom > window.screen.availHeight;
  }

  onPromoEnter(slide: number) {
    this.promoSlide = slide;
  }

  onPromoLeave() {
    this.promoSlide = 0;
  }

  mounted() {
    window.addEventListener('scroll', this.onScroll);
    this.onScroll();
  }

  beforeDestroy() {
    window.removeEventListener('scroll', this.onScroll);
  }
}
</script>

<style lang="stylus" scoped>
.categories__list--link
  cursor pointer
</style>
