<template>
  <div class="content__wrapper">
    <Header content />

    <!-- Main -->
    <main class="main">
      <section class="sect__content gutters lighter-accent-bg">
        <h2 class="w3c">
          &nbsp;
        </h2>

        <div class="container">
          <div class="content">
            <div class="content__block">
              <h1>Рассрочка</h1>

              <p>Покупка в кредит - простой, удобный и современный способ покупки товаров в интернет-магазине.</p>

              <h6 style="color:#FD6D0E">
                Не нужно выходить из дома
              </h6>

              <ul>
                <li>При подтверждении заказа сообщите, о том, что хотели бы товар «купить в кредит»</li>
                <li>Заполните заявку и получите решение ОНЛАЙН в течение 1–2 минут;</li>
                <li>Подпишите кредитный договор с представителем Банка;</li>
                <li>Пользуйтесь покупкой и погашайте ежемесячный платеж по кредиту без комиссий.</li>
              </ul>
            </div>

            <div class="advantages">
              <div class="advantages__col">
                <span class="advantages__title advantages__title--lg">2 минуты</span>
                <p>среднее время, за которое принимается решение</p>
              </div>

              <div class="advantages__col">
                <span class="advantages__title">Бесплатно:</span>
                <ul>
                  <li>дострочное погашение</li>
                  <li>погашение кредита по всей России более 160 тысяч партнерских точек приёма платежей</li>
                </ul>
              </div>
            </div>

            <div class="content__block">
              <h6 style="color:#FD6D0E">
                Условия кредитования системы «КупиВкредит»:
              </h6>

              <ul>
                <li>Кредит доступен гражданам России в возрасте от 18 до 70 лет;</li>
                <li>Сумма кредитования – от 3 000 до 100 000 рублей;</li>
                <li>Первоначальный взнос - от 0%;</li>
                <li>Срок кредитования - от 3 до 24 месяцев;</li>
                <li>% ставка рассчитывается индивидуально.</li>
              </ul>

              <img src="~assets/img/credit.png" alt="">

              <p>По вопросам, связанным с выдачей кредита,<br>обращаться в АО «Тинькофф Банк» на горячую линию:</p>
              <a href="tel:+88005550808" class="phone">8 (800) 555-08-08</a>
              <p>звонок по России бесплатный и круглосуточный</p>
            </div>
          </div>
        </div>
        <!-- //container -->
      </section>
    </main>
    <!-- //Main -->

    <Footer />
  </div>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator';

import Header from '~/components/organisms/Header.vue';
import Footer from '~/components/organisms/Footer.vue';

@Component({
  components: {
    Header,
    Footer,
  },
})
export default class Installments extends Vue {
}
</script>

<style lang="stylus">
</style>
