<template>
  <div class="content__wrapper">
    <Header disable-top />

    <!-- Main -->
    <main class="main">
      <section class="sect__orders gutters-sm light-bg">
        <h2 class="w3c">
          &nbsp;
        </h2>

        <!-- Close -->
        <AppButton
          type="closeCheckout"
          @click="onClose"
        />
        <!-- //Close -->

        <div class="container">
          <div class="orders__header">
            <div class="row align-horisontal-start align-vertical-center">
              <!-- Back link -->
              <AppButton
                type="back"
                @click="onClose"
              />
              <!-- //Back link -->

              <h2 class="sect__title--sm secondary-color">
                Мои заказы
              </h2>
            </div>
          </div>

          <!-- Results -->
          <div v-if="orders && orders.length" class="orders">
            <!-- Order item -->
            <OrderCard
              v-for="order in orders"
              :key="order.id"
              :order="order"
            />
            <!-- //Order item -->
          </div>
          <!-- //Results -->

          <div v-if="!orders || !orders.length" class="orders__body">
            <p class="orders__body--text">
              Похоже, что вы ничего не заказывали с этого устройства,
              чтобы найти заказ введите данные, которые вы можете найти на своей Email
            </p>
            <span class="orders__body--email">
              отправитель: order@mybabynsk.ru
            </span>

            <!-- Checkout -->
            <div class="orders-checkout">
              <h5 class="orders-checkout__title text-center">
                Найти заказ
              </h5>
              <form class="orders-checkout__form">
                <p class="orders-checkout__input--label text-left">
                  Введите номер заказа
                </p>
                <div class="row align-vertical-end orders-checkout__input--row row-nowrap">
                  <AppInput
                    input-class="form-group__input--sm"
                    line-class="form-group__line--opacity"
                    placeholder="№ Заказа"
                    :value="orderId"
                    @input="onChange"
                  />

                  <AppButton
                    type="accent"
                    class="btn-sm btn-hover-text-color"
                    :disabled="!orderId"
                    @click="onSubmit"
                  >
                    Найти заказ
                  </AppButton>
                </div>
              </form>
            </div>
            <!-- //Checkout -->
          </div>

          <div class="orders__footer">
            <div
              class="row orders__footer--row"
              :class="{
                'align-horisontal-between': orders && orders.length,
                'align-horisontal-end': !orders || !orders.length,
              }"
            >
              <!-- Checkout -->
              <div v-if="orders && orders.length" class="orders-checkout">
                <h5 class="orders-checkout__title text-left">
                  Найти заказ
                </h5>
                <form class="orders-checkout__form">
                  <p class="orders-checkout__input--label text-left">
                    Введите номер заказа
                  </p>
                  <div class="row align-vertical-end orders-checkout__input--row row-nowrap">
                    <AppInput
                      input-class="form-group__input--sm"
                      line-class="form-group__line--opacity"
                      placeholder="№ Заказа"
                      :value="orderId"
                      @input="onChange"
                    />

                    <AppButton
                      type="accent"
                      class="btn-sm btn-hover-text-color"
                      :disabled="!orderId"
                      @click="onSubmit"
                    >
                      Найти заказ
                    </AppButton>
                  </div>
                </form>
              </div>
              <!-- //Checkout -->

              <div class="orders-callback">
                <div class="callback-tooltip callback-tooltip-static ">
                  <h6 class="callback-tooltip__title">
                    Не помните номер заказа?
                  </h6>
                  <p class="callback-tooltip__text">
                    Позвоните нам, пришлем!
                  </p>
                  <a href="tel:+73833335556" class="callback-tooltip__phone">
                    +7 (383) 333 5556
                  </a>
                  <a href="tel:+79513627770" class="callback-tooltip__phone">
                    +7 (951) 362-77-70
                  </a>

                  <p class="callback-tooltip__worktime">
                    Ежедневно, с 10 до 20 по Новосибирскому времени
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- //container -->
      </section>
    </main>
    <!-- //Main -->
  </div>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator';

import { initStore } from '~/store';

import Header from '~/components/organisms/Header.vue';
import OrderCard from '~/components/organisms/OrderCard.vue';
import AppButton from '~/components/atoms/AppButton.vue';
import AppInput from '~/components/atoms/AppInput.vue';

@Component({
  components: {
    Header,
    OrderCard,
    AppButton,
    AppInput,
  },
})
export default class Orders extends Vue {
  store = initStore(this.$store);

  orderId: string = '';

  get orders() {
    return this.store.state.orders;
  }

  onClose() {
    this.$router.go(-1);
  }

  onChange(orderId: string) {
    this.orderId = orderId;
  }

  onSubmit() {
    // todo: check order id, find order, show it or show an error message
  }
}
</script>

<style lang="stylus" scoped>
/deep/ .form-group__line--opacity
  width 100%
</style>
