<template>
  <div class="content__wrapper">
    <Header content />

    <!-- Main -->
    <main class="main">
      <section class="sect__content gutters lighter-accent-bg">
        <h2 class="w3c">
          &nbsp;
        </h2>

        <div class="container">
          <div class="text-content" v-html="content" />
        </div>
        <!-- //container -->
      </section>
    </main>

    <Footer />
  </div>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator';

import Header from '~/components/organisms/Header.vue';
import Footer from '~/components/organisms/Footer.vue';
import { initStore } from '~/store';

@Component({
  components: {
    Header,
    Footer,
  },
})
export default class PaymentAndDelivery extends Vue {
  store = initStore(this.$store);

  content: string = '';

  async created() {
    this.content = await this.store.actions.loadContent({ key: 'delivery' });
  }
}
</script>

<style lang="stylus">
</style>
